
<div class="container">

  <h5>Edit your question</h5>

  <%= simple_form_for [ @emission_module, @question ] do |f| %>
    <%= f.input :content %>
    <%= f.input :ademe_emission_factor_id %>
    <%= f.input :calculation,
            :as => :select,
            :collection => [['Yes',true],['No',false]],
            :include_blank => false,
            :label => "Type" %>

    <%= hidden_field_tag :emission_module_id, @emission_module.id %>
    <%= f.submit "Edit the question", class: "btn btn-primary" %>
  <% end %>

</div>
