<div class="container text-center">
  <h1>Index report_scope_orga</h1>
    <%= link_to "Add a module to an orga",  new_report_report_scope_orga_path, class:"btn btn-secondary mt-3"  %>
    <%= link_to "Next - add emails", report_report_scope_orga_users_path, class:"btn btn-primary mt-3"  %>

  <div class="row pt-5">
    <div class="col-6">
      <h2>Your organisation</h2>
      <% @orga.each do |o| %>
        <div><%= o.name %></div>
      <% end %>
    </div>

    <div class="col-6">
      <h2>Available modules</h2>
      <% @report_scope.each do |report_scope| %>
        <div><%= report_scope.emission_module.name %></div>
      <% end %>
      <%= link_to "Add a module", report_report_scope_orgas_path, class:"btn btn-primary mt-3"  %>
    </div>
  </div>
</div>

