<!-- <h1 class="text-center">Create a new report scope orga</h1> -->
<!-- <div class="container">
  <%# @report_scope.each do |report_scope| %>
  <%#= emission_id = report_scope.emission_module.name %>
  <%# end %>
</div> -->

<div class="container">
  <div class="d-flex justify-content-between">
    <%= link_to "Previous", report_report_scopes_path(params[:report_id]), class:"btn btn-secondary mt-3 ml-5" %>
    <%= link_to "Next", report_report_scope_orga_users_path(params[:report_id]), class:"btn btn-primary mt-3" %>
  </div>
</div>


<div class="container mt-3">
  <h4>Modules selected by business unit</h4>
  <h5>Project: <%= @report.name %> - <%= @report.year %> </h5>
</div>


<!-- </div> -->

  <div class="container">
    <div class="mx-5">
      <div class="row">
        <% @orgas.each do |orga| %>
          <% unless @report_scope_orgas.find_by(orga_id: orga.id).present? %>
            <div class="col-4">
              <ul class="list-group m-3">
                <li class="list-group-item active"><%= orga.name %></li>
                <li class="list-group-item">
                  <button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop<%= orga.name.gsub(" ", "") %>">
                      Add a module
                  </button>
                </li>
              </ul>
            </div>
          <% else %>
            <% @report_scope_orgas.where(orga_id: orga.id).group_by(&:orga).each do |orga, array| %>
              <div class="col-4">
                <ul class="list-group m-3">
                  <li class="list-group-item active"><%= orga.name %></li>
                  <% array.each do |r| %>
                    <li class="list-group-item"><%= r.report_scope.emission_module.name %></li>
                  <% end %>
                  <li class="list-group-item">
                    <button type="button" class="btn" data-toggle="modal" data-target="#staticBackdrop<%= orga.name.gsub(
                  " ", "") %>">
                        Add a module
                    </button>
                  </li>
                </ul>
              </div>
            <% end %>
          <% end %>
            <%= render 'shared/modal-report-scope-orga', orga: orga %>
        <% end %>
      </div>
    </div>
  </div>









