<!-- <h1 class="text-center">Create a new report scope orga</h1> -->
<!-- <div class="container">
  <%# @report_scope.each do |report_scope| %>
  <%#= emission_id = report_scope.emission_module.name %>
  <%# end %>
</div> -->
<div class="container">
  <div class="d-flex justify-content-between">
    <%= link_to "Previous", report_report_scopes_path(params[:report_id]), class:"btn btn-secondary mt-3 ml-5" %>
    <%= link_to "Next", report_report_scope_orga_users_path(params[:report_id]), class:"btn btn-primary mt-3" %>
  </div>
</div>

<div class="container width-form">
  <div class="form-post mt-0">
    <%= simple_form_for [@report, @report_scope_orga] do |f| %>
    <div class="row">
      <%= f.association :orga, as: :radio_buttons, label: 'Choose a business unit' %>
    </div>
    <div class="row">
      <!-- afficher  -->
      <%= f.association :report_scope, as: :check_boxes, label: 'Choose emission module(s)', label_html: { class: 'text-success' }, collection: @report.report_scopes %>
    </div>
      <!-- Inject categories here -->
    <div class="row">
      <%= f.submit "Save", class: "btn-lg btn-block btn-success text-white"  %>
    </div>
    <% end %>
  </div>
</div>

<!-- <div class="container"> -->
  <div class="container">
    <div class="mx-5">
      <div class="row">
        <% @report_scope_orgas.group_by(&:orga).each do |orga, array| %>
          <div class="col-3">
            <ul class="list-group m-3">
              <li class="list-group-item active"><%= orga.name %></li>
              <% array.each do |r| %>
                <li class="list-group-item"><%= r.report_scope.emission_module.name %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<!-- </div> -->


