<!-- <h1 class="text-center">Create a new report scope orga</h1> -->
<!-- <div class="container">
  <%# @report_scope.each do |report_scope| %>
  <%#= emission_id = report_scope.emission_module.name %>
  <%# end %>
</div> -->

<div class="px-2">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link mt-2">☁︎  Emissions</a>
    <div class="arrow-right-not-selected mt-2"></div>
    <a class="nav-item nav-link active mt-2"><i class="fas fa-sitemap"></i> Organization</a>
    <div class="arrow-right-selected mt-2"></div>
    <a class="nav-item nav-link mt-2"><i class="fas fa-user-plus"></i> Team</a>
    <div class="arrow-right-not-selected mt-2"></div>
  </nav>
</div>


<div class="px-2">
  <div class="row pt-4 pb-2">
    <div class="col-6">
      <h4>Modules selected by business unit</h4>
    </div>
  </div>
</div>



<div class="px-2">
  <div class="row">
    <div class="col-7">
      <div class="bg-white rounded shadow">
        <div class="row ml-0">
          <div class="col-5 px-0">
            <div class="tab-headerV2 radius-left">
              <h3 class="text-center">☁︎ EMISSION TYPE</h3>
            </div>
          </div>
          <div class="col-7 px-0">
            <div class="tab-headerV2 mr-3 radius-right">
              <h3 class="text-center"><i class="fas fa-sitemap"></i> ORGANIZATION</h3>
            </div>
          </div>
        </div>
        <div class="scroller-100vh">
        <% @report.report_scopes.each do |report_scope| %>
        <% if params[:report_scope].to_i == report_scope.id %>
          <div class="row border-bottom transparent">
        <% else %>
          <div class="row border-bottom">
        <% end %>
          <div class="col-5 flex-cell cell-justify-left">
            <div class="d-flex flex-row">
              <% if report_scope.emission_module.photo.attached?  %>
                <%= cl_image_tag report_scope.emission_module.photo.key, :crop=>"fill", class:"avatar ml-3", style:"width:30px; height:30px"%>
              <% else %>
                <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar ml-5", style:"width:30px; height:30px"%>
              <% end %>
              <p class="pl-2"><%= report_scope %></p>
            </div>
          </div>
          <div class="col-7 pl-5">
            <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
              <button class="rounded-pill bg-purple btn my-1">
                <!-- btn-outline-primary -->
                <ul class="list-inline m-0">
                  <li class="list-inline-item">
                    <%= cl_image_tag report_scope_orga.orga.photo.key, :crop=>"fill", class:"avatar ml-4", style:"width:30px; height:30px"%>
                  </li>
                  <li class="list-inline-item m-0">
                    <p class= "px-2 m-0"><%= report_scope_orga.orga.name %></p>
                  </li>
                  <li class="list-inline-item m-0">
                    <%= link_to "",
                    report_report_scope_orga_path(@report.id, report_scope_orga.id),
                    class:"fas fa-times pr-1 text-white",
                    method: :delete%>
                  </li>
                </ul>
              </button>
            <% end %>
            <%= link_to "",
            url_for(report_scope: report_scope),
            id: "addOrga",
            class:"fas fa-plus-circle fa-2x align-bottom mt-2 mb-2 text-success"%>
          </div>
        </div>
        <% end %>
        </div>
      </div>
    </div>
    <%= render 'shared/research_orga_report_scope' %>
  </div>

</div>














