
<div class="container">
  <div class="row  mt-3 mb-3">
    <div class="col-8">
      <h4>Project: <%= @report.name %> - <%= @report.year %> </h4>
      <h5>Add contributors to your project</h5>
    </div>
    <div class="col-4 ">
      <%= link_to "Start your project!", report_path(@report.id), class:"btn btn-primary" %>
    </div>
  </div>

<!-- Headers tableau -->
<!-- Organization - Emission module - Contributors - Add a contributor -->
  <div class="container mb-2">
    <div class="row">
      <div class="col-3">
        <div class="tab-header">
          <h3>Organization</h3>
        </div>
      </div>
      <div class="col-3">
        <div class="tab-header">
          <h3>Emission module</h3>
        </div>
      </div>
      <div class="col-6">
        <div class="tab-header">
          <h3>Contributors</h3>
        </div>
      </div>
<!--       <div class="col-2">
        <div class="tab-header">
          <h3>Add a contributor</h3>
        </div>
      </div>-->
    </div>
  </div>

<!-- Contenu du tableau avec bouton d'ajout de contributeur-->
  <div class="container">
    <div class="row">
      <% @report.report_scopes.each do |report_scope|  %>
        <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
          <div class="col-3 flex-cell">
            <p><%= report_scope_orga.orga.name %></p>
          </div>
          <div class="col-3 flex-cell">
            <p><%= report_scope.emission_module.name %></p>
          </div>
          <div class="col-6 flex-cell cell-justify-left">
            <ul>
              <% report_scope_orga.report_scope_orga_users.each do |report_scope_orga_user| %>
                <li><%= report_scope_orga_user.user.email  %></li>
              <% end %>
              <p>
                <%= link_to "Add a contributor",
                      new_report_scope_orga_report_scope_orga_user_path(report_scope_orga.id),
                      class:"btn btn-success" %>
              </p>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>


