<div class="bg-kc-lightblue py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to "< Retour aux articles", articles_path, class:"btn btn-small btn-light"  %>
        <!-- Titre -->
        <h1 class="my-4">
          Comment réaliser son bilan carbone ?
        </h1>
        <!-- Chapeau -->
        <p>
          Le bilan carbone, c’est une obligation réglementaire pour certaines entreprises, mais c’est surtout la première étape de sa stratégie bas-carbone.
          <br>
          Comment le réaliser pour faire de cet exercice un outil fédérateur et pas une simple collecte de données ? Suivez le guide !
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container article">
    <div class="row justify-content-center mb-5">
        <!-- Paragraphe 1-->
        <!-- Titre fixed -->
        <div class="col-12 col-lg-8">
          <div class="first-sticky-header">
            <h4 class="bg-white">
              1. Nommer un responsable
            </h4>
          </div>
        </div>

        <!-- Contenu -->
        <div class="col-12 col-md-8 col-lg-5 pt-3">
          <p>
            Première étape : nommer un responsable en charge de la réalisation du bilan carbone.
            <br>
            Il devra piloter l’ensemble de l’exercice, notamment coordonner la collecte des données à travers l’entreprise et s’assurer que les bons leviers sont identifiés dans le plan d’action.
          </p>

          <p>
            Même dans le cas où vous êtes accompagnés par un bureau d’étude ou un cabinet de conseil, il est indispensable d’avoir un responsable en interne pour que votre entreprise s’approprie les résultats et puisse mettre en oeuvre le plan d’action.
          </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3 pt-3">
          <div class="centered-image mb-1">
            <%= image_tag 'articles/comment-faire-bilan/I-want-you-bilan-carbone.png',
                class: "illustration-35vh",
                alt: "I want you to calculate my carbon footprint"
            %>
          </div>
        </div>


        <!-- Paragraphe 2-->
        <!-- Titre -->
        <div class="col-12 col-lg-8 pt-3">
          <div class="divider">
          </div>
          <!-- <div class="second-sticky-header"> -->
          <h4 class="bg-white">
            2. Définir le périmètre et les contributeurs
          </h4>
          <!-- </div> -->

        <!-- Contenu -->
          <h5>
            Périmètre
          </h5>

          <p>
            Le bilan carbone fait l’inventaire des émissions sur une période et pour une organisation donnée.
            Il faut donc définir au préalable trois éléments :
          </p>

          <ol>
            <br>
            <li>
              Le <span class="bg-kc-lightblue text-kc-blue"><strong>périmètre organisationnel et géographique</strong></span> :
              <ul>
                <li>
                  Le bilan carbone couvre les émissions de votre entreprise en <strong>France</strong>, et dans le monde pour les entreprises soumises à l’obligation de reporting extra-financier.
                </li>
                <li>
                  Pour tout savoir sur le périmètre couvert selon la réglementation, <a href="/ressources/reglementation_entreprise">cet article</a> est là pour vous.
                </li>
              </ul>
            </li>
            <br>
            <li>
              Les <span class="bg-kc-lightblue text-kc-blue"><strong>catégories et postes d’émissions</strong></span> :
              <ul>
                <li>
                  Un bilan carbone couvre obligatoirement les <strong>émissions directes</strong> telles que les carburants (scope 1) et et les <strong>émissions indirectes liées à l’énergie</strong>, par exemple l’électricité (scope 2).
                </li>
                <li>
                  Il peut également couvrir les <strong><i>“postes significatifs"</i></strong> pour les entreprises d’une certaines taille : les <strong>émissions indirectes (scope 3)</strong> telles que les achats ou le transports sont alors obligatoires
                  <br>
                  L’ADEME propose des <a href="https://bilans-ges.ademe.fr/fr/ressource/guide-sectoriel-list">guides sectoriels</a> qui précisent quelles émissions doivent être couvertes par secteur.
                </li>
              </ul>
            </li>
            <li>
              La <span class="bg-kc-lightblue text-kc-blue"><strong>période de référence</strong></span> : typiquement, on prend l’exercice comptable précédent pour pouvoir s’appuyer sur les données de reporting existantes
            </li>
          </ol>

          <h5>Contributeurs</h5>

          <p>
            Sans contributeurs métiers, pas de bilan carbone!
            En effet, le responsable du bilan carbone n’a pas accès à toutes les données opérationnelles, et ne peut pas juger seul des actions les plus pertinentes à mettre en oeuvre
          </p>

          <p>
            Pour une entreprise ou une filiale de taille moyenne, il faut typiquement mobiliser une dizaine de personnes, et bien plus pour les grands groupes : contrôle de gestion, achats, RH, services généraux, production, supply chain…
            La plupart des directions sont mobilisées.
          </p>

          <div class="centered-image">
            <%= image_tag 'articles/comment-faire-bilan/travolta.gif',
                class: "illustration",
                alt: "Responsable RSE perdu sans ses contributeurs"
            %>
            <div class="mt-3">
              <p><small><i>
                Responsable bilan carbone sans contributeurs métiers
              </i></small></p>
            </div>
          </div>
        </div>


        <!-- Paragraphe 3-->
        <!-- Titre -->
        <div class="col-12 col-lg-8 pt-3">
          <div class="divider">
          </div>
          <!-- <div class="third-sticky-header"> -->
          <h4 class="bg-white">
            3. Collecter les données et calculer son empreinte
          </h4>
          <!-- </div> -->

        <!-- Contenus -->
          <p>
            Pour calculer l’empreinte carbone de son entreprise, il n’y a qu’une formule (simple !) à retenir :
          </p>

          <div class="text-center">
            <p>
              <span class="bg-kc-lightblue text-kc-blue"><strong>Donnée d’activité</strong></span>
                x
              <span class="bg-kc-lightblue text-kc-blue"><strong>Facteur d’émission</strong></span>
            </p>
          </div>

          <p>
            Par exemple, pour l’empreinte carbone de l’électricité consommée, on prend la consommation (en kWh) et on la multiplie par le facteur d’émission (en kgCO2/kWh) fourni par l’ADEME.
          </p>
          <p>
            Tous les facteurs d’émissions standards sont <a href="https://www.bilans-ges.ademe.fr/">accessibles gratuitement sur le site de l’ADEME</a>, et bien sûr intégrés dans KarbonChain. Si vous avez des facteurs spécifiques, vous pouvez les ajouter pour gagner en précision.
          </p>
          <p>
            Pour les données d’activités, c’est là que les contributeurs sont clés : ce sont eux qui ont accès aux données dans l’entreprise et sauront les renseigner.
            Le travail de collecte pouvant être exigeant, il est important d'identifier rapidement les postes les plus importants et d'adapter l'effort de collecte en conséquence
          </p>

          <p>
            Dans la pratique, le dialogue entre les contributeurs et le responsable du bilan carbone est clé : il ne s’agit pas de juste fournir une donnée pour un calcul, mais s’assurer que la donnée reflète bien la réalité du terrain.
          </p>
        </div>


        <!-- Paragraphe 4.-->
        <!-- Titre -->
        <div class="col-12 col-lg-8 pt-3">
          <div class="divider">
          </div>
          <!-- <div class="fourth-sticky-header"> -->
          <h4 class="bg-white">
            4. Définir un plan d’action
          </h4>
          <!--/di -->

        <!-- Contenus -->
          <p>
            Mesurer, c’est bien. Agir, c’est mieux. Le bilan carbone doit obligatoirement comprendre un plan d’action, et c’est typiquement pour la définition de ces actions que les cabinets de conseil peuvent être une aide précieuse.
          </p>

          <p>
            Voici <span class="bg-kc-lightblue text-kc-blue"><strong>quatre principes</strong></span> pour un plan de réduction d’émissions réussi :
          </p>
          <ol>
            <li>
              <span class="bg-kc-lightblue text-kc-blue"><strong>Prioriser les postes d’émissions</strong></span> les plus importants, même si cela peut être des postes d’émission plus complexes (ex: logistique, achats). Souvent, réduire ses émissions, c’est être plus efficace, donc faire des économies.
            </li>
            <li>
              <span class="bg-kc-lightblue text-kc-blue"><strong>Identifier un responsable métier pour chaque action.</strong></span> Car seul lui pourra porter l’action opérationnellement.
            </li>
            <li>
              <span class="bg-kc-lightblue text-kc-blue"><strong>Décliner en indicateur opérationnel</strong></span> chaque objectif de réduction. Par exemple :
              <ul>
                <li>
                  <i>“augmenter le taux de remplissage des camions de 10%”</i>,
                </li>
                <li>
                  <i>“mener des travaux d’isolation sur la moitié du parc immobilier”</i>,
                </li>
                <li>
                  <i>“diminuer la consommation d’énergie de nos produits de 10%”</i>,
                </li>
              </ul>
            </li>
            <li>
              <span class="bg-kc-lightblue text-kc-blue"><strong>Rendre compte de l’avancement</strong></span> à votre direction et communiquer en interne.
            </li>
          </ol>
        </div>

        <!-- Paragraphe 5-->
        <!-- Titre -->
        <div class="col-12 col-lg-8 pt-3">
          <div class="divider">
          </div>
          <!-- <div class="fifth-sticky-header"-->
          <h4 class="t-3 bg-white">
            5. S'inscrire dans la durée
          </h4>
          <!-- div-->

        <!-- Contenu -->
          <p>
            Un bilan carbone n’est qu’une première étape pour réduire son empreinte carbone. De plus, c’est un exercice “impossible” à réaliser complètement : il y aura toujours des émissions indirectes difficiles à estimer, des données imprécises…
            <br>Mais cela n’empêche pas le bilan carbone d’aiguiller l’action!
          </p>
          <p>
            Il est donc important d’inscrire son bilan carbone dans une démarche de long-terme :
          </p>
          <ul>
            <li>
              Définir une approche avec les contributeurs pour <span class="bg-kc-lightblue text-kc-blue"><strong>collecter des données plus précises</strong></span>
            </li>
            <li>
              <span class="bg-kc-lightblue text-kc-blue"><strong>Étendre progressivement le périmètre des émissions analysées</strong></span> (notamment indirectes)
            </li>
            <li>
              <span class="bg-kc-lightblue text-kc-blue"><strong>Définir des process interne et s’outiller</strong></span> pour mieux collecter les données et suivre les progrès, idéalement en réalisant son bilan chaque anné
            </li>
          </ul>
        </div>

        <!-- box-conclusion -->
        <div class="box-conclusion">
          <div class="box-left pb-3">
              <h5 class="text-center">
                Le plus
              </h5>
              <%= image_tag 'landing-page/main-logo.png', class: "logo" %>
          </div>
          <div class="box-right">
            <p>
              Notre solution résout deux des principales limites des bilans carbones traditionnels :
            </p>
            <p class="pl-3">
              <i class="fas fa-calculator"></i>  La <span class="bg-kc-lightblue"><strong>collecte des données et les calculs de l’empreinte </strong></span>, que nous automatisons au maximum
            </p>
            <p class="pl-3">
              <i class="fas fa-tasks"></i>  <span class="bg-kc-lightblue"><strong>L’animation et le suivi du plan d’action</strong></span>, qui est totalement intégré à KarbonChain
            </p>
          </div>
        </div>

      </div>

    </div>
  <%= link_to "< Retour aux articles", articles_path, class:"btn btn-small btn-light"  %>
  </div>
</div>
