<div class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-4">Ressources</h1>
        <p>Tous les articles, références et sources pour vous guider dans votre reporting et votre stratégie bas-carbone.</p>
      </div>
    </div>
    <div class="cards">
      <a href="/ressources/reglementation_entreprise">
        <div class="card-article">
          <img
            src="https://images.unsplash.com/photo-1423592707957-3b212afa6733?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80"
            style="height: 30vh"
          />
          <div class="card-article-infos">
            <h6>Bilan carbone, déclaration extra-financière : quelle réglementation pour votre entreprise ?</h6>
            <p class="small">Tout ce que vous avez toujours voulu savoir sur la réglementation BEGES et DPEF.</p>
          </div>
        </div>
      </a>

      <a href="/ressources/comment_faire_son_bilan_carbone">
        <div class="card-article">
            <img
              src="https://images.unsplash.com/photo-1473772564351-202a22a93101?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=742&q=80"
              style="height: 30vh"
            />
          <div class="card-article-infos">
            <h6>
              Comment réaliser son bilan carbone ?
            </h6>
            <p class="small">
              Cinq étapes pour faire de son bilan carbone un outil fédérateur pour l'action.
            </p>
          </div>
        </div>
      </a>

    </div>


  <!--   <% @articles.each do |article| %>
      <div>
        <h3><%= link_to article.title, article_path(article), class:""  %></h3>
        <p><%= link_to "Edit", edit_article_path(article) %></p>
        <p><%= link_to "Delete", article_path(article), method: :delete %></p>
      </div>
    <% end %>
   -->
    <div class="row">
  <!--     <h1><%= link_to "Ajouter un article", new_article_path, class:"btn btn-primary"  %></h1>
   --></div>
    <div class="row">
      <%= link_to "< Retour à la page d'accueil", root_path, class:"btn btn-light"  %>
    </div>

  </div>
</div>
