<div class="bg-kc-yellow py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-orange"  %>
        <!-- Titre -->
        <h1 class="my-4">
          Scope 1, scope 2, scope 3 : quels périmètres? Comment les calculer?
        </h1>
        <!-- Chapeau -->
        <p>
          Si vous vous intéressez au bilan carbone, vous avez sûrement entendu parler de <i>“scope 1”</i>, <i>“scope 2”</i>, <i>“scope 3”</i>.
          On vous détaille ici quelles émissions ils couvrent et comment les calculer.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Début de l'article -->

<div class="bg-white pt-5 pb-3">
  <div class="container article">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

<!-- GIF d'intro -->
        <div class="centered-image">
          <%= image_tag 'articles/scope_1_2_3/un-dos-tres.gif',
          width: "50%"%>
          <p><small><i>Un, deux, trois scopes!</i></small></p>
        </div>

<!-- texte d'intro -->
        <p>
          Les “scopes” (“périmètres”) correspondent aux émissions de gaz à effet de serre d’une organisation, selon qu’il s’agisse d’émissions directes ou indirectes :
        </p>
        <ul>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>Scope 1</strong></span> :
            émissions directes issues de combustibles fossiles (pétrole, gaz, charbon…).
          </li>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>Scope 2</strong></span> :
            émissions indirectes issues de la consommation d'électricité et des réseaux de chaleur / froid
          </li>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>Scope 3</strong></span> :
            toutes les émissions indirectes hors scope 2 : produits et services achetés, transport et logistique, déchets, etc.
          </li>
        </ul>
        <p>
          Les scope 1 et 2 sont obligatoires pour un BEGES (bilan d’émissions de gaz à effet de serre), mais couvrent souvent à peine 10% à 20% de l’ensemble des émissions.
          En effet, le scope 3 a un périmètre étendu, comme l’indique le schéma ci-dessous :
        </p>
      </div>
    </div>

<!-- section avec image -->
<!-- TO DO
- ajout légende en dessous
- revoir picto pour combiner plusieurs images
- picto cohérents pour avoir contenu "vide"
P2:
- ajout picto dans header modale
- ajout éléments sur le périmètre requis et optionnel
<%= image_tag 'articles/scope_1_2_3/scope_1_2_3.png',
    width: "75%",
    alt: "Cartographie des postes d'emissions "
%>
 -->

<!-- legende -->
<!-- <div class="container">
  <div class="row">
    <div class="col-2">
      <div class="scope1-background">
        <p><small>Scope 1</small></p>
      </div>
      <div class="scope2-background">
        <p><small>Scope 3</small></p>
      </div>

      <div class="scope3-background">
        <p><small>Scope 3</small></p>
      </div>
    </div>
  </div>
</div>
 -->


<!-- Headers -->
    <div class="row">
      <div class="col-1">

      </div>
      <div class="col-3 text-center">
        <h6>Activités en amont</h6>

      </div>
      <div class="col-3 text-center">
        <h6>Activités de l'entreprise</h6>

      </div>
      <div class="col-5 text-center">
        <h6>Activités en aval</h6>
        <div>
          <div class="row">
            <div class="col-6 text-center">
              <h6>Production et distribution</h6>
            </div>
            <div class="col-6 text-center">
              <h6>Consommation finale</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Ligne 1 - Energie -->

    <div class="row">
      <div class="col-1">
        <h6><small>Energie </small></h6>
      </div>

      <div class="col-3">
        <!-- Scope 3 - energie -->
        <div data-toggle="modal" data-target="#scope3_energie">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/3-emission energie charbon.png',
              width: "100%"%>
            </div>
              <p>
                <small>Emissions liées aux combustibles et à l'énergie</small>
              </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div>
          <!-- Scope 1 -->
          <div data-toggle="modal" data-target="#scope1">
            <div class="box-scope-category scope1-background">
              <div class="centered-image small-image">
                <%= image_tag 'articles/scope_1_2_3/scope 1 - oil.png',
                width: "100%"%>
              </div>
              <p>
                <small>Carburants consommés</small>
              </p>
            </div>
          </div>

          <!-- Scope 2  electricité-->
          <div data-toggle="modal" data-target="#scope2-electricite">
            <div class="box-scope-category scope2-background">
              <div class="centered-image small-image">
                <%= image_tag 'articles/scope_1_2_3/2-electricite.png',
                width: "100%"%>
              </div>
              <p>
                <small>Electricité</small>
              </p>
            </div>
          </div>


          <!-- Scope 2  heating cooling network -->
          <div data-toggle="modal" data-target="#scope2-heating">
            <div class="box-scope-category scope2-background">
              <div class="centered-image small-image">
                <%= image_tag 'articles/scope_1_2_3/scope 2 - heating network.png',
                width: "100%"%>
              </div>
              <p>
                <small>Chaleur, froid et vapeur</small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 2 - Production -->
    <div class="divider-narrow">
    </div>

    <div class="row">
      <div class="col-1">
        <h6><small>Production</small></h6>
      </div>

      <div class="col-3">
        <!-- Scope 3 - Achats -->
        <div data-toggle="modal" data-target="#scope3_achats">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/1-achats.png',
              width: "100%"%>
            </div>
            <p>
              <small>Achats de biens et services</small>
            </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <!-- Scope 3 - Biens immo -->
        <div data-toggle="modal" data-target="#scope3_immo">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/2-biens immobilises.png',
              width: "100%"%>
            </div>
            <p>
              <small>Biens immobilisés</small>
            </p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <!-- Scope 3 - Transformations biens -->
        <div data-toggle="modal" data-target="#scope3_transformation">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/10-transformation produits vendus.png',
              width: "100%"%>
            </div>
            <p>
              <small>Transformation des produits vendus</small>
            </p>
          </div>
        </div>

      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 3 - Transport et déplacement -->
    <div class="divider-narrow">
    </div>

    <div class="row">
      <div class="col-1">
        <h6><small>Transport</small></h6>
      </div>
      <div class="col-3">
        <!-- Scope 3 - Transport amont -->
        <div data-toggle="modal" data-target="#scope3_transport_amont">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/4-transport sea.png',
              width: "100%"%>
            </div>
            <p>
              <small>Transport et déplacement amont</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <!-- Scope 3 - Déplacement pro -->
        <div data-toggle="modal" data-target="#scope3_deplacement_pro">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/6-deplacement-avion.png',
              width: "100%"%>
            </div>
            <p>
              <small>Déplacement professionnels</small>
            </p>
          </div>
        </div>

        <!-- Scope 3 - Déplacement domicile-travail -->
        <div data-toggle="modal" data-target="#scope3_commuting">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/7-deplacement domicile.png',
              width: "100%"%>
            </div>
            <p>
              <small>Déplacement domicile-travail</small>
            </p>
          </div>
        </div>


      </div>
      <div class="col-3">
        <!-- Scope 3 - Transport aval -->
        <div data-toggle="modal" data-target="#scope3_transport_aval">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/4-transport sea.png',
              width: "100%"%>
            </div>
            <p>
              <small>Transport et déplacement aval</small>
            </p>
          </div>
        </div>

      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 4 - Consommation finale -->
    <div class="divider-narrow">
    </div>

    <div class="row">
      <div class="col-1">
        <h6><small>Consommation finale</small></h6>
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
        <!-- Scope 3 - Utilisation -->
        <div data-toggle="modal" data-target="#scope3_utilisation">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/11-utilisation produits.png',
              width: "100%"%>
            </div>
            <p>
              <small>Utilisation des produits vendus</small>
            </p>
          </div>
        </div>
      </div>
    </div>

<!-- Ligne 5 - Déchets -->
    <div class="divider-narrow">
    </div>

    <div class="row">
      <div class="col-1">
        <h6><small>Déchets</small></h6>
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
        <!-- Scope 3 - dechets activité -->
        <div data-toggle="modal" data-target="#scope3_dechets_activite">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/12-fin de vie.png',
              width: "100%"%>
            </div>
            <p>
              <small>Déchets générés par l'activité</small>
            </p>
          </div>
        </div>

      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
        <!-- Scope 3 - dechets fin de vie -->
        <div data-toggle="modal" data-target="#scope3_dechets_fin_vie">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/12-fin de vie.png',
              width: "100%"%>
            </div>
            <p>
              <small>Fin de vie des produits vendus</small>
            </p>
          </div>
        </div>

      </div>
    </div>

<!-- Ligne 6 - Autres -->
    <div class="divider-narrow">
    </div>

    <div class="row">
      <div class="col-1">
        <h6><small>Autres</small></h6>
      </div>
      <div class="col-3">
        <!-- Scope 3 - leasing amont -->
        <div data-toggle="modal" data-target="#scope3_leasing_amont">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/8-leasing.png',
              width: "100%"%>
            </div>
            <p>
              <small>Actifs en leasing amont</small>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
        <!-- Scope 3 - leasing aval -->
        <div data-toggle="modal" data-target="#scope3_leasing_aval">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/8-leasing.png',
              width: "100%"%>
            </div>
            <p>
              <small>Actifs en leasing aval</small>
            </p>
          </div>
        </div>

        <!-- Scope 3 - franchises -->
        <div data-toggle="modal" data-target="#scope3_franchises">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/14-franchises.png',
              width: "100%"%>
            </div>
            <p>
              <small>Franchises</small>
            </p>
          </div>
        </div>


        <!-- Scope 3 - investissements -->
        <div data-toggle="modal" data-target="#scope3_investissements">
          <div class="box-scope-category scope3-background">
            <div class="centered-image small-image">
              <%= image_tag 'articles/scope_1_2_3/15-investissements.png',
              width: "100%"%>
            </div>
            <p>
              <small>Investissements</small>
            </p>
          </div>
        </div>


      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Legende -->
  <div class="col-12">
      <p><small><i>
        Source : KarbonChain, d'après le GHG Protocol
      </i></small></p>
  </div>


<!-- Contenus modales -->
<div>
  <!-- Modal - scope 3 energie -->
  <div class="modal fade bd-example-modal-lg" id="scope3_energie" tabindex="-1" role="dialog" aria-labelledby="scope3_energie" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_energie">Emissions liées aux combustibles et à l'énergie</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie complète les scopes 1 et 2, qui ne couvrent que les émissions du combustible en lui-même (émises lors de combustion, c’est le principe 🙂 )
          </p>
          <p>
            Il s’agit donc des émissions dues aux activités qui ont permis de produire les combustibles, par exemple :
          </p>
          <ul>
            <li>
              extraction, raffinage, transport de l’essence
            </li>
            <li>
              pertes sur les réseaux électriques et de transport de chaleur / de froid
            </li>
          </ul>
          <p>
            NB : les acteurs qui achètent puis revendent de l’énergie reportent ces émissions sur ce poste
          </p>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 1 -->
  <div class="modal fade bd-example-modal-lg" id="scope1" tabindex="-1" role="dialog" aria-labelledby="scope1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope1-background">
          <p class="modal-title" id="scope1">Carburants consommés</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre tous les combustibles (pétrole, gaz, charbon…) consommés par l’entreprise au cours de la période.
          </p>
          <p>
            NB : on ne compte ici que les émissions du combustible (ex: l’essence consommée par un véhicule). Les émissions indirectes sont comptabilisées dans le scope 3 (ex: pour l’essence, la construction de la plateforme pétrolière, le raffinage et le transport par camion-citerne)
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 2 electricite -->
  <div class="modal fade bd-example-modal-lg" id="scope2-electricite" tabindex="-1" role="dialog" aria-labelledby="scope2-electricite" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope2-background">
          <p class="modal-title" id="scope2-electricite">Electricité</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre l’électricité consommée (kWh) par l’ensemble des actifs de l’entreprise (bâtiments, machines, véhicules).
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 2 heating -->
  <div class="modal fade bd-example-modal-lg" id="scope2-heating" tabindex="-1" role="dialog" aria-labelledby="scope2-heating" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope2-background">
          <p class="modal-title" id="scope2-heating">Chaleur, froid et vapeur consommée</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions générées par les réseaux de chaleur, froid et vapeur utilisés par l’entreprise.
          </p>
          <p>
            Il peut s’agir de réseaux de chaleur urbaine pour des bâtiments tertiaires, de réseaux de vapeur à usage industriel, de systèmes de réfrigération...
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 achats -->
  <div class="modal fade bd-example-modal-lg" id="scope3_achats" tabindex="-1" role="dialog" aria-labelledby="scope3_achats" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_achats">Achats de biens et services</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre l’ensemble des produits (matières premières, consommables) et des services achetés par l’entreprises pour réaliser son activité
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 biens immos -->
  <div class="modal fade bd-example-modal-lg" id="scope3_immo" tabindex="-1" role="dialog" aria-labelledby="scope3_immo" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_immo">Biens immobilisés</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre l’ensemble des actifs achetés dans l’année, par exemple les équipements, machines outils, mobilier, etc.
          </p>
          <p>
            Contrairement à la vision “comptable”, les émissions ne sont pas amortis sur la durée de vie des biens. Ainsi, l’ensemble des émissions d’une machine sont prise en compte uniquement l’année de son acquisition.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 Transformation des produits vendus -->
  <div class="modal fade bd-example-modal-lg" id="scope3_transformation" tabindex="-1" role="dialog" aria-labelledby="scope3_transformation" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_transformation">Transformation des produits vendus</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie s’applique uniquement aux produits “intermédiaires” qui sont achetés par les clients afin d’être transformés puis revendus
          </p>
          <p>
            Exemple : plaques d’acier qui sont ensuite usinées, pâte à papier ensuite transformée en emballages, etc.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 transport amont -->
  <div class="modal fade bd-example-modal-lg" id="scope3_transport_amont" tabindex="-1" role="dialog" aria-labelledby="scope3_transport_amont" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_transport_amont">Transport et distribution amont</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions de transport et logistique amont pour la livraison de l’ensemble des produits et services.
          </p>
          <p>
            NB: dans le cas où l’entreprise utilise ses propres véhicules, les émissions des carburants sont déjà comptabilisées dans le scope 1 ou 2
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 deplacement pro -->
  <div class="modal fade bd-example-modal-lg" id="scope3_deplacement_pro" tabindex="-1" role="dialog" aria-labelledby="scope3_deplacement_pro" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_deplacement_pro">Déplacements professionnels</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les déplacements professionnels (voiture, train, avion…) réalisés avec des véhicules qui n’appartient pas à l’entreprise.
          </p>
          <p>
            Si le véhicule appartient à l’entreprise, ses carburants sont comptabilisés dans le scope 1 et le véhicule est un bien immobilisé (ses émissions indirectes sont comptabilisées lors de l’achat)
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 commuting -->
  <div class="modal fade bd-example-modal-lg" id="scope3_commuting" tabindex="-1" role="dialog" aria-labelledby="scope3_commuting" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_commuting">Déplacements domicile-travail</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions générées par le déplacement des salariés entre leur domicile et le lieu de travail, dès lors qu’il n’est pas effectué dans un véhicule d’entreprise
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 transport amont -->
  <div class="modal fade bd-example-modal-lg" id="scope3_transport_aval" tabindex="-1" role="dialog" aria-labelledby="scope3_transport_aval" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_transport_aval">Transport et distribution aval</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions de transport et logistique aval pour la livraison de l’ensemble des produits et services.
          </p>
          <p>
            NB: dans le cas où l’entreprise utilise ses propres véhicules, les émissions des carburants sont déjà comptabilisées dans le scope 1 ou 2
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 utilisation -->
  <div class="modal fade bd-example-modal-lg" id="scope3_utilisation" tabindex="-1" role="dialog" aria-labelledby="scope3_utilisation" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_utilisation">Utilisation des produits vendus</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions des produits vendus, quand ceux-ci consomment de l’énergie pour leur fonctionnement, que ce soit directement (ex: carburant d’une voiture) ou indirectement (ex: gaz pour la cuisson d’un aliment)
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 dechets activité -->
  <div class="modal fade bd-example-modal-lg" id="scope3_dechets_activite" tabindex="-1" role="dialog" aria-labelledby="scope3_dechets_activite" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_dechets_activite">Déchets générés par l'activité</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions liées aux déchets générés lors de la production des produits ou services (ex: chutes de matériaux, consommables de bureaux, etc.).
          </p>
          <p>
            Ainsi, pour des déchets incinérés, les combustibles nécessaires à l’incinérations sont pris en compte
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - scope 3 dechets fin de vie -->
  <div class="modal fade bd-example-modal-lg" id="scope3_dechets_fin_vie" tabindex="-1" role="dialog" aria-labelledby="scope3_dechets_fin_vie" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_dechets_fin_vie">Déchets générés à la fin de vie des produits</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions liées à l’incinération, le recyclage ou la mise en décharge du produit
          </p>
          <p>
            NB : on considère ici les émissions futures des produits vendus sur l’année (et non les émissions des produits vendus il y a plusieurs années et arrivés en fin de vie)
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - leasing amont -->
  <div class="modal fade bd-example-modal-lg" id="scope3_leasing_amont" tabindex="-1" role="dialog" aria-labelledby="scope3_leasing_amont" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_leasing_amont">Actifs en leasing amont</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions liées à l’utilisation d’actifs en leasing, par exemple une flotte de véhicules
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - leasing aval -->
  <div class="modal fade bd-example-modal-lg" id="scope3_leasing_aval" tabindex="-1" role="dialog" aria-labelledby="scope3_leasing_aval" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_leasing_aval">Actifs en leasing aval</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions des actifs possédés par l’entreprise et loués à un tiers (symétrique du poste "leasing amont").
          </p>
          <p>
            Par exemple, une entreprise qui loue un parc de voitures à une autre entreprise comptabilise les émissions de ces voitures dans ce poste
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal - franchises -->
  <div class="modal fade bd-example-modal-lg" id="scope3_franchises" tabindex="-1" role="dialog" aria-labelledby="scope3_franchises" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_franchises">Franchises</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre les émissions des franchisés  (par exemple :  points de ventes, de restauration).        </p>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - investissements -->
  <div class="modal fade bd-example-modal-lg" id="scope3_investissements" tabindex="-1" role="dialog" aria-labelledby="scope3_investissements" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header scope3-background">
          <p class="modal-title" id="scope3_investissements">Investissements</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Cette catégorie couvre uniquement les investissements financiers (l’achat d’actifs productifs est couvert par “2. Biens immobilisées”).
          </p>
          <p>
            Par exemple, une banque ou un gestionnaire d’actifs  doivent faire l’inventaire des émissions des entreprises dans lesquelles ils ont des participations.
          </p>
          <p>
            Le niveau de contrôle de l’actifs est pris en compte dans la part des émissions comptabilisées
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin des modales -->

<!-- TO DO - lien vers les questions - couleur du texte + effet hover-->
<!-- Sommaire FAQ -->
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-8">
        <p>
          Voici quelques une des principales questions auxquelles sont confrontées les entreprises lors de la réalisation de leur bilan. Si vous en avez d’autres, n’hésitez pas à nous écrire!
        </p>

        <ul>
          <li><a href="#question-1">
            Où trouver les informations pour calculer les émissions?
          </li></a>
          <li><a href="#question-2">
            Faut-il inclure les émissions passées ou futures?
          </li></a>
          <li><a href="#question-3">
            Pour l’électricité (scope 2), comment prendre en compte les contrats “verts”?
          </li></a>
          <li><a href="#question-4">
            Jusqu’où “remonter” pour le calcul les émissions indirectes (scope 3)?
          </li></a>
          <li><a href="#question-5">
            Est-ce que mes émissions indirectes (scope 3) sont comptées en double avec mes fournisseurs et clients?
          </li></a>
        </ul>
      </div>
    </div>

<!--  TO DO questions cachées avec class active -->
<!-- Question 1  -->
    <div id="question-1" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Où trouver les informations pour calculer les émissions?
        </h4>
        <p>
          Les données d’activités nécessaires pour le calcul des émissions indirectes sont parfois difficiles à obtenir, quand elles existent!
          Il est généralement possible d’obtenir une première estimation avec vos données internes en s’adressant au bon département.
          En revanche, il est généralement nécessaire de demander des informations à ses fournisseurs pour obtenir des données plus précises.
        </p>
        <p>
          Ces données d’activités sont ensuite multipliées par les facteurs d’émissions correspondant le cas échéant.
        </p>

      </div>
    </div>


<!-- Question 2  -->
    <div id="question-2" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Faut-il inclure les émissions passées ou futures?
        </h4>

        <p>
          Pour le scope 1 et 2, la règle est simple : il faut simplement considérer les émissions de la période, par exemple l’année passée.
        </p>
        <p>
          Pour le scope 3, la réponse dépend de chaque poste. Par exemple :
        </p>
        <ul>
          <li>
            les émissions liées à la production et au transport des produits achetés ont eu lieu précédemment, potentiellement les années précédentes
          </li>
          <li>
            Les émissions liées aux déchets auront lieu plus tard, lors de leur élimination
          </li>
        </ul>
        <p>
          Voici pour chaque poste une synthèse du périmètre temporel des émissions :
        </p>

        <!-- TO DO traduire image -->
        <div class="centered-image mb-1">
          <%= image_tag 'articles/scope_1_2_3/GHG-scope-3-timing.png',
              width: "100%",
              alt: "Périmètre temporelle des postes du scope 3"
          %>
          <div class="mt-3">
            <p><small><i>
              Source : GHG Protocol
            </i></small></p>
          </div>
        </div>


      </div>
    </div>

<!-- Question 3  -->
    <div id="question-3" class="mb-5">
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Pour l’électricité (scope 2), comment prendre en compte les contrats “verts”?
        </h4>

        <p>
          Lorsqu’on est connecté à un réseau électrique, on ne choisit généralement pas
          d’où provient l’électricité que l’on consomme à un instant donné :
          personne n’ordonne à un électron d’aller d’une éolienne à une maison particulière!
        </p>

        <p>
          Par ailleurs, il peut être trompeur d’affirmer avoir un approvisionnement “100% renouvelable”.
          En effet, c’est parce qu’il y a d’autres sources de production pilotables (nucléaire, hydroélectrique, gaz…)
          que le réseau “tient”, et que l’on peut avoir certains acteurs qui décident d’avoir des contrats qui garantissent l’origine de leur électricité.
        </p>
        <p>
          C’est pour cette raison que les émissions dues à la production d’électricité doivent être comptabilisée selon deux méthodes :
        </p>
        <ul>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>L’approche géographique (<i>“location-based"</i>) </strong></span>:
            Cette approche prend en compte les émissions moyennes liées à la production d’électricité dans la zone où elle est consommée (par exemple la France). Par exemple, la consommation lors de la pointe hivernale sera plus carbonée car le réseau fait appel à des centrales à gaz.

          </li>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>L’approche contractuelle (<i>“market-based”</i>) </strong></span> :
            Cette approche prend en compte les contrats d’approvisionnement de l’entreprise.
            Par exemple, une entreprise couvrant 100% de sa consommation avec des contrats
            garantissant l’origine renouvelable pourra calculer une empreinte faible
            même pendant la pointe hivernale, car elle aura payé pour garantir que
            sa consommation provient de sources renouvelables.
          </li>
        </ul>

  <!-- TO DO ajout illustration du calcul location / market based -->

      </div>
    </div>

<!-- Question 4  -->
    <div id="question-4" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Jusqu’où “remonter” pour le calcul les émissions indirectes?
        </h4>


<!-- GIF poupées russes -->
        <div class="centered-image">
          <%= image_tag 'articles/scope_1_2_3/galshir-babushka.gif',
          width: "50%"%>
          <div class="ml-5 mr-5">
          <p><small><i>
            “Pour  le transport des produits, il faut prendre en compte le carburant des camions.
            Quid de l’usine qui a fabriqué le camion?
            Et le carburant du tractopelle qui a permis de construire l’usine?
            Et l’électricité de l’usine qui a construit le tractopelle? Etc.”
          </i></small></p>
          </div>
        </div>


        <p>
          Le calcul des émissions indirectes peut rapidement causer de problèmes a priori insolubles :
          il faudrait récupérer des informations sur des centaines d’activités en amont et en aval,
          de dizaines d’industries différentes, pour calculer correctement son empreinte carbone.
        </p>
        <p>
          L’exercice est effectivement difficile, mais pas impossible,
          et surtout l’intérêt est d’abord de mieux comprendre les émissions “influençables”,
          pas de construire une cartographie exhaustive.
        </p>
        <p>
          Ensuite, deux éléments permettent de réaliser l’exercice dans le cadre d’un bilan carbone :
        </p>
        <ul>
          <li>
            Les <span class="bg-kc-lightblue text-kc-blue"><strong>recommandations des standards</strong></span> comme le GHG protocol  ou le Bilan Carbone™ permettent de définir un périmètre “requis” :
            il est ambitieux, mais il ne s’étend pas “à l’infini” en amont ou en aval
          </li>
          <li>
            Les <span class="bg-kc-lightblue text-kc-blue"><strong>analyses de cycle de vie des produits (ACV)</strong></span>
            peuvent être utilisées pour estimer les émissions “de l’extraction des matières premières à la sortie d’usine”.
            Ces analyses sont disponibles dans des bases de données dédiées,
            qui permettent de faire le lien entre l’analyse de l’empreinte “orienté produit” (ACV)
            et le bilan carbone “orienté organisation”
          </li>
        </ul>
      </div>
    </div>

<!-- Question 5  -->
    <div id="question-5" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Est-ce que mes émissions indirectes (scope 3) sont comptées en double avec mes fournisseurs et clients?
        </h4>

        <p>
          La réponse est simple : oui 🙂
        </p>
        <p>
          Le but du scope 3 est d’évaluer les émissions indirectes en amont et en aval : elles correspondent donc aux émissions directes (scope 1 et 2) d’autres acteurs. Cela n’a donc pas de sens de “sommer” les scope 3 de plusieurs entreprises dans une même chaîne de valeur.
        </p>
        <p>
          En revanche, le scope 3 permet de mieux comprendre son impact indirect, que l’on peut influencer, en prenant en compte l’impact carbone de sa politique achat, sa stratégie logistique, l’efficacité énergétique de ses produits, etc.
        </p>

        <!-- TO DO ajout illustration double compte chaine de valeur -->

      </div>
    </div>



    <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-blue my-4"  %>
  </div>
</div>

<!-- Source modale : https://getbootstrap.com/docs/4.0/components/modal/ -->
