<div class="bg-kc-yellow py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-orange"  %>
        <!-- Titre -->
        <h1 class="my-4">
          Scope 1, scope 2, scope 3 : quels périmètres? Comment les calculer?
        </h1>
        <!-- Chapeau -->
        <p>
          Si vous vous intéressez au bilan carbone, vous avez sûrement entendu parler de <i>“scope 1”</i>, <i>“scope 2”</i>, <i>“scope 3”</i>.
          On vous détaille ici quelles émissions ils couvrent et comment les calculer.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Début de l'article -->

<div class="bg-white pt-5 pb-3">
  <div class="container article">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

<!-- GIF d'intro -->
        <div class="centered-image">
          <%= image_tag 'articles/scope_1_2_3/un-dos-tres.gif',
          width: "50%"%>
          <p><small><i>Un, deux, trois scopes!</i></small></p>
        </div>

<!-- texte d'intro -->
        <p>
          Les “scopes” (“périmètres”) correspondent aux émissions de gaz à effet de serre d’une organisation, selon qu’il s’agisse d’émissions directes ou indirectes :
        </p>
        <ul>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>Scope 1</strong></span> :
            émissions directes issues de combustibles fossiles (pétrole, gaz, charbon…).
          </li>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>Scope 2</strong></span> :
            émissions indirectes issues de la consommation d'électricité et des réseaux de chaleur / froid
          </li>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>Scope 3</strong></span> :
            toutes les émissions indirectes hors scope 2 : produits et services achetés, transport et logistique, déchets, etc.
          </li>
        </ul>
        <p>
          Les scope 1 et 2 sont obligatoires pour un BEGES (bilan d’émissions de gaz à effet de serre), mais couvrent souvent à peine 10% à 20% de l’ensemble des émissions.
          En effet, le scope 3 a un périmètre étendu, comme l’indique le schéma ci-dessous :
        </p>
      </div>
    </div>

<!-- section avec image -->
<!-- TO DO transformer image en grid reactive avec text on-click -->
    <div class="col-12">
      <div class="centered-image mb-1">
        <%= image_tag 'articles/scope_1_2_3/scope_1_2_3.png',
            width: "75%",
            alt: "Cartographie des postes d'emissions "
        %>
        <p><small><i>
          Source : KarbonChain, d'après le GHG Protocol
        </i></small></p>
      </div>
    </div>

<!-- Headers -->
    <div class="row">
      <div class="col-2">

      </div>
      <div class="col-2">
        <p>Amont</p>

      </div>
      <div class="col-3">
        <p>Activités de l'entreprise</p>

      </div>
      <div class="col-3">
        <p>Production et distribution</p>
      </div>
      <div class="col-2">
        <p>Consommation finale</p>
      </div>
    </div>

<!-- Ligne 1 - Energie -->

    <div class="row">
      <div class="col-2">
        <p>Energie</p>
      </div>
      <div class="col-2">
        <div class="box-scope-category">
          <div class="centered-image">
            <%= image_tag 'articles/scope_1_2_3/3-emission energie charbon.png',
            width: "50%"%>
          </div>
          <p data-toggle="modal" data-target="#scope3_energie">
            <small>Emissions liées aux combustibles et à l'énergie</small>
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <p>Scope 1</p>
          <p>Scope 2</p>
        </div>
      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 2 - Production -->

    <div class="row">
      <div class="col-2">
        <p>Production</p>
      </div>
      <div class="col-2">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 3 - Transport et déplacement -->

    <div class="row">
      <div class="col-2">
        <p>Transport et déplacement</p>
      </div>
      <div class="col-2">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 4 - Consommation finale -->

    <div class="row">
      <div class="col-2">
        <p>Consommation finale</p>
      </div>
      <div class="col-2">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 5 - Déchets -->

    <div class="row">
      <div class="col-2">
        <p>Déchets</p>
      </div>
      <div class="col-2">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
      </div>
    </div>

<!-- Ligne 6 - Leasing & investissements -->

    <div class="row">
      <div class="col-2">
        <p>Leasing & investissements</p>
      </div>
      <div class="col-2">
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
      </div>
      <div class="col-2">
      </div>
    </div>


<!-- Contenus modales -->


<!-- Modal - scope 3 energie -->
<div class="modal fade"
      id="scope3_energie" tabindex="-1"
      role="dialog" aria-labelledby="scope3_energie"
      aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-turquoise">
        <p class="modal-title" id="scope3_energie">Emissions liées aux combustibles et à l'énergie</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Cette catégorie couvre tous les combustibles (pétrole, gaz, charbon…) consommés par l’entreprise au cours de la période.
        </p>
        <p>
          NB : on ne compte ici que les émissions du combustible (ex: l’essence consommée par un véhicule). Les émissions indirectes sont comptabilisées dans le scope 3 (ex: pour l’essence, la construction de la plateforme pétrolière, le raffinage et le transport par camion-citerne)
        </p>
      </div>
    </div>
  </div>
</div>

<!-- TO DO - lien vers les questions - couleur du texte + effet hover-->
<!-- Sommaire FAQ -->
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-8">
        <p>
          Voici quelques une des principales questions auxquelles sont confrontées les entreprises lors de la réalisation de leur bilan. Si vous en avez d’autres, n’hésitez pas à nous écrire!
        </p>

        <ul>
          <li><a href="#question-1">
            Où trouver les informations pour calculer les émissions?
          </li></a>
          <li><a href="#question-2">
            Faut-il inclure les émissions passées ou futures?
          </li></a>
          <li><a href="#question-3">
            Pour l’électricité (scope 2), comment prendre en compte les contrats “verts”?
          </li></a>
          <li><a href="#question-4">
            Jusqu’où “remonter” pour le calcul les émissions indirectes (scope 3)?
          </li></a>
          <li><a href="#question-5">
            Est-ce que mes émissions indirectes (scope 3) sont comptées en double avec mes fournisseurs et clients?
          </li></a>
        </ul>
      </div>
    </div>

<!--  TO DO questions cachées avec class active -->
<!-- Question 1  -->
    <div id="question-1" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Où trouver les informations pour calculer les émissions?
        </h4>
        <p>
          Les données d’activités nécessaires pour le calcul des émissions indirectes sont parfois difficiles à obtenir, quand elles existent!
          Il est généralement possible d’obtenir une première estimation avec vos données internes en s’adressant au bon département.
          En revanche, il est généralement nécessaire de demander des informations à ses fournisseurs pour obtenir des données plus précises.
        </p>
        <p>
          Ces données d’activités sont ensuite multipliées par les facteurs d’émissions correspondant le cas échéant.
        </p>

      </div>
    </div>

<!-- TO DO ajout picto pour les directions d'entreprise : RH, etc -->
<!-- Tableau - exemples par sources -->
    <div class="table-responsive">
      <table class="table small table-striped table-bordered">
        <!-- header tableau -->
        <thead class="bg-kc-orange text-white">
          <tr>
            <th scope="col">Poste d'émissions</th>
            <th scope="col">Données typiques</th>
            <th scope="col">Exemples de sources</th>
          </tr>
        </thead>
        <tbody>

          <!-- ligne 1 -->
          <tr>
            <th scope="row" class="align-middle">
              Scope 1 - Carburants consommé
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Factures des consommations de combustibles (ex: gaz, fioul…)
                </li>
                <li>
                  Consommation d’essence des véhicules (ex: disponibles avec les cartes essences)
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>Interne:</b>
              <br>
              services généraux, direction achats
            </td>
          </tr>

          <!-- ligne 2 -->
          <tr>
            <th scope="row" class="align-middle">
              Scope 2 : Electricité consommée
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Factures des fournisseurs d’électricité (en kWh, €)
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>Interne:</b>
              <br> services généraux, direction des achats, directeurs de sites
              <br>
              <b>Externe:</b>
              <br> fournisseur d’électricité
            </td>
          </tr>

          <!-- ligne 3 -->
          <tr>
            <th scope="row" class="align-middle">
              Scope 2 : Chaleur, froid et vapeur consommée
            </th>
            <td class="align-middle">
              Factures des fournisseurs d’énergie et fluides industriels (en m3, kWh, €, etc.)
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
                services généraux, direction des achats, directeurs de sites
              <br>
              <b>
                Externe:
              </b>
                fournisseur d’électricité
            </td>
          </tr>

          <!-- ligne 4 -->
          <tr>
            <th scope="row" class="align-middle">
              Produits et services achetés
            </th>
            <td class="align-middle">
              Extraction des achats de l’année par fournisseur et type de produit :
              <ul>
                <li>
                  idéalement en volume pour les produits (tonnes, m3…), à défaut en euros
                </li>
                <li>
                  en euros pour les services
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              direction des achats
              <br>
              <b>
                Externe :
              </b>
              fournisseurs
            </td>
          </tr>

          <!-- ligne 5 -->
          <tr>
            <th scope="row" class="align-middle">
              Biens immobilisés
            </th>
            <td class="align-middle">
              Extraction de l’inventaire des biens immobilisés et amortis comptablement : parc immobilier, inventaire informatique, parc de véhicules, inventaire de l’outil industriel de production...
            </td>
            <td class="align-middle">
              <b>
                Interne :
              </b>
                direction achat, direction financière, direction IT
              <br>
              <b>
                Externe:
              </b>
              prestataire de facility management (inventaire immobilier), société d’info-gérance (parc informatique), etc.
            </td>
          </tr>

          <!-- ligne 6 -->
          <tr>
            <th scope="row" class="align-middle">
              Emissions liées aux combustibles et à l'énergie (hors scope 1/2)
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Volume de combustible consommé (gaz, essence…)
                </li>
                <li>
                  Consommation électrique
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              Direction Achats, Services Généraux…
              <br>
              <b>
                Externe:
              </b>
              Fournisseur d’énergie
            </td>
          </tr>

          <!-- ligne 7 -->
          <tr>
            <th scope="row" class="align-middle">
              Transport amont et distribution
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Inventaire des produits livrés (en volume et par mode de livraison : route, rail, aérien)
                </li>
                <li>
                  Pour chaque livraison, informations permettant le calcul de l’empreinte carbone (du plus au moins précis):
                <ul>
                  <li>
                    Empreinte carbone fournie par le transporteur
                  </li>
                    Carburant consommée par le transporteur au pro rata du chargement
                  <li>
                    t.km transportés
                  </li>
                  <li>
                    km parcourus
                  </li>
                  <li>
                    € dépensés en prestations de transport
                  </li>
                </ul>
                </li>
              </ul>
              NB : les transporteurs routiers ont l’obligation de fournir des informations sur l’empreinte carbone des prestations de transports effectuées
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              Direction supply chain / logistique, responsables de sites de production ou de stockage
              <br>
              <b>
                Externe:
              </b>
              prestataires de transport
            </td>
          </tr>

          <!-- ligne 8 -->
          <tr>
            <th scope="row" class="align-middle">
              Déchets générés
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Inventaire en volume des déchets générés par type
                </li>
                <li>
                  Mode de traitement de chaque type de déchet
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              responsables de sites de production
              <br>
              <b>
                Externe:
              </b>
              prestataire en charge de l’enlèvement et du traitement des déchets
            </td>
          </tr>

          <!-- ligne 9 -->
          <tr>
            <th scope="row" class="align-middle">
              Déplacements professionnels
            </th>
            <td class="align-middle">
              Inventaire des déplacements professionnels réalisés dans l’année, avec le détail suivant
              <ul>
                <li>
                  Mode de transport : voiture, train, avion…
                </li>
                <li>
                  Distance (arrivée / départ)
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              services généraux, direction RH et paie
              <br>
              <b>
                Externe:
              </b>
              agence de voyage
            </td>
          </tr>


          <!-- ligne 10 -->
          <tr>
            <th scope="row" class="align-middle">
              Déplacements domicile travail
            </th>
            <td class="align-middle">
              Enquête déplacement des salariés (typiquement réalisé à l’occasion d’un Plan de Déplacement d’Entreprise), avec la part modale et la distance parcourue par salarié
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              direction RH
            </td>
          </tr>

          <!-- ligne 10 -->
          <tr>
            <th scope="row" class="align-middle">
              Actifs en leasing amont
            </th>
            <td class="align-middle">
              Consommation d’énergie (combustible, électricité…) des actifs loués par l’entreprise (ex: parc de véhicules)
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              services généraux, direction supply chain / logistique, etc.
            </td>
          </tr>

          <!-- ligne 11 -->
          <tr>
            <th scope="row" class="align-middle">
              Transport de marchandise et distribution aval
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Inventaire des produits livrés (en volume et par mode de livraison : route, rail, aérien)
                </li>
                <li>
                  Pour chaque livraison, informations permettant le calcul de l’empreinte carbone (du plus au moins précis):
                <ul>
                  <li>
                    Empreinte carbone fournie par le transporteur
                  </li>
                    Carburant consommée par le transporteur au pro rata du chargement
                  <li>
                    t.km transportés
                  </li>
                  <li>
                    km parcourus
                  </li>
                  <li>
                    € dépensés en prestations de transport
                  </li>
                </ul>
                </li>
              </ul>
              NB : les transporteurs routiers ont l’obligation de fournir des informations sur l’empreinte carbone des prestations de transports effectuées
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              Direction supply chain, responsables de sites de production ou de stockage
              <br>
              <b>
                Externe:
              </b>
              prestataires de transport
            </td>
          </tr>

          <!-- ligne 12 -->
          <tr>
            <th scope="row" class="align-middle">
              Transformation des produits vendus
            </th>
            <td class="align-middle">
              Études avec les entreprises en aval sur la transformation des produits intermédiaires vendus - peut être réalisé dans le cadre d’une analyse de cycle de vie (ACV)
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              direction marketing, développement produit
              <br>
              <b>
                Externe:
              </b>
              études avec les entreprises en aval (B2B)
            </td>
          </tr>

          <!-- ligne 13 -->
          <tr>
            <th scope="row" class="align-middle">
              Utilisation des produits vendus
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Analyse de cycle de vie réalisée à la conception du produit
                </li>
                <li>
                  B2C : Études sur des panels consommateurs permettant d’évaluer les conditions d’utilisation réelles des produits, leur durée de vie et leur consommation énergétique
                </li>
                <li>
                  B2B : études avec les clients en aval de la chaîne de valeurs sur l’utilisation des produits
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              direction marketing, direction développement produit
              <br>
              <b>
                Externe:
              </b>
              enquêtes consommateurs (B2C), études avec les entreprises en aval (B2B)
            </td>
          </tr>

          <!-- ligne 14 -->
          <tr>
            <th scope="row" class="align-middle">
              Fin de vie des produits vendus
            </th>
            <td class="align-middle">
              <ul>
                <li>
                  Estimation de la répartition de la fin de vie des produits (recyclage, valorisation, enfouissement…)
                </li>
                <li>
                  Estimation des émissions liées à chaque mode de gestion de la fin de vie de produit (fourni par des bases de données standard ou directement par le prestataire)
                </li>
              </ul>
            </td>
            <td class="align-middle">
              <b>
                Interne:
              </b>
              direction marketing, direction développement produit
              <br>
              <b>
                Externe:
              </b>
              prestataire en charge de la valorisation et de l’élimination des déchets
            </td>
          </tr>

          <!-- ligne 15 -->
          <tr>
            <th scope="row" class="align-middle">
              Actifs en leasing aval
            </th>
            <td class="align-middle">
              Consommations énergétiques et électriques (scope 1 et 2) des actifs loués, identifiés sur factures par chaque locataire
            </td>
            <td class="align-middle">
              <b>
                Externe:
              </b>
              locataire de l’actif, avec le support éventuel de ses fournisseurs d’énergie
            </td>
          </tr>

          <!-- ligne 16 -->
          <tr>
            <th scope="row" class="align-middle">
              Franchises en aval
            </th>
            <td class="align-middle">
                Evaluation de l’empreinte carbone de la construction des locaux du franchisé
            </td>
            <td class="align-middle">
              <b>
                Externe:
              </b>
              Franchisés, société de BTP en charge de la construction
            </td>
          </tr>

          <!-- ligne 17 -->
          <tr>
            <th scope="row" class="align-middle">
              Investissements
            </th>
            <td class="align-middle">
              Reporting scope 1 et 2 des sociétés dans lesquelles l’entreprise a des participations (ex: DPEF, BEGES…)
            </td>
            <td class="align-middle">
              <b>
                Externe:
              </b>
              Sociétés sous participation / gestion
            </td>
          </tr>

        </tbody>
      </table>
    </div>


<!-- Question 2  -->
    <div id="question-2" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Faut-il inclure les émissions passées ou futures?
        </h4>

        <p>
          Pour le scope 1 et 2, la règle est simple : il faut simplement considérer les émissions de la période, par exemple l’année passée.
        </p>
        <p>
          Pour le scope 3, la réponse dépend de chaque poste. Par exemple :
        </p>
        <ul>
          <li>
            les émissions liées à la production et au transport des produits achetés ont eu lieu précédemment, potentiellement les années précédentes
          </li>
          <li>
            Les émissions liées aux déchets auront lieu plus tard, lors de leur élimination
          </li>
        </ul>
        <p>
          Voici pour chaque poste une synthèse du périmètre temporel des émissions :
        </p>

        <!-- TO DO traduire image -->
        <div class="centered-image mb-1">
          <%= image_tag 'articles/scope_1_2_3/GHG-scope-3-timing.png',
              width: "100%",
              alt: "Périmètre temporelle des postes du scope 3"
          %>
          <div class="mt-3">
            <p><small><i>
              Source : GHG Protocol
            </i></small></p>
          </div>
        </div>


      </div>
    </div>

<!-- Question 3  -->
    <div id="question-3" class="mb-5">
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Pour l’électricité (scope 2), comment prendre en compte les contrats “verts”?
        </h4>

        <p>
          Lorsqu’on est connecté à un réseau électrique, on ne choisit généralement pas
          d’où provient l’électricité que l’on consomme à un instant donné :
          personne n’ordonne à un électron d’aller d’une éolienne à une maison particulière!
        </p>

        <p>
          Par ailleurs, il peut être trompeur d’affirmer avoir un approvisionnement “100% renouvelable”.
          En effet, c’est parce qu’il y a d’autres sources de production pilotables (nucléaire, hydroélectrique, gaz…)
          que le réseau “tient”, et que l’on peut avoir certains acteurs qui décident d’avoir des contrats qui garantissent l’origine de leur électricité.
        </p>
        <p>
          C’est pour cette raison que les émissions dues à la production d’électricité doivent être comptabilisée selon deux méthodes :
        </p>
        <ul>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>L’approche géographique (<i>“location-based"</i>) </strong></span>:
            Cette approche prend en compte les émissions moyennes liées à la production d’électricité dans la zone où elle est consommée (par exemple la France). Par exemple, la consommation lors de la pointe hivernale sera plus carbonée car le réseau fait appel à des centrales à gaz.

          </li>
          <li>
            <span class="bg-kc-lightblue text-kc-blue"><strong>L’approche contractuelle (<i>“market-based”</i>) </strong></span> :
            Cette approche prend en compte les contrats d’approvisionnement de l’entreprise.
            Par exemple, une entreprise couvrant 100% de sa consommation avec des contrats
            garantissant l’origine renouvelable pourra calculer une empreinte faible
            même pendant la pointe hivernale, car elle aura payé pour garantir que
            sa consommation provient de sources renouvelables.
          </li>
        </ul>

  <!-- TO DO ajout illustration du calcul location / market based -->

      </div>
    </div>

<!-- Question 4  -->
    <div id="question-4" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Jusqu’où “remonter” pour le calcul les émissions indirectes?
        </h4>


<!-- GIF poupées russes -->
        <div class="centered-image">
          <%= image_tag 'articles/scope_1_2_3/galshir-babushka.gif',
          width: "50%"%>
          <div class="ml-5 mr-5">
          <p><small><i>
            “Pour  le transport des produits, il faut prendre en compte le carburant des camions.
            Quid de l’usine qui a fabriqué le camion?
            Et le carburant du tractopelle qui a permis de construire l’usine?
            Et l’électricité de l’usine qui a construit le tractopelle? Etc.”
          </i></small></p>
          </div>
        </div>


        <p>
          Le calcul des émissions indirectes peut rapidement causer de problèmes a priori insolubles :
          il faudrait récupérer des informations sur des centaines d’activités en amont et en aval,
          de dizaines d’industries différentes, pour calculer correctement son empreinte carbone.
        </p>
        <p>
          L’exercice est effectivement difficile, mais pas impossible,
          et surtout l’intérêt est d’abord de mieux comprendre les émissions “influençables”,
          pas de construire une cartographie exhaustive.
        </p>
        <p>
          Ensuite, deux éléments permettent de réaliser l’exercice dans le cadre d’un bilan carbone :
        </p>
        <ul>
          <li>
            Les <span class="bg-kc-lightblue text-kc-blue"><strong>recommandations des standards</strong></span> comme le GHG protocol  ou le Bilan Carbone™ permettent de définir un périmètre “requis” :
            il est ambitieux, mais il ne s’étend pas “à l’infini” en amont ou en aval
          </li>
          <li>
            Les <span class="bg-kc-lightblue text-kc-blue"><strong>analyses de cycle de vie des produits (ACV)</strong></span>
            peuvent être utilisées pour estimer les émissions “de l’extraction des matières premières à la sortie d’usine”.
            Ces analyses sont disponibles dans des bases de données dédiées,
            qui permettent de faire le lien entre l’analyse de l’empreinte “orienté produit” (ACV)
            et le bilan carbone “orienté organisation”
          </li>
        </ul>
      </div>
    </div>

<!-- Question 5  -->
    <div id="question-5" class="mb-5">
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4 class="bg-white">
          Est-ce que mes émissions indirectes (scope 3) sont comptées en double avec mes fournisseurs et clients?
        </h4>

        <p>
          La réponse est simple : oui 🙂
        </p>
        <p>
          Le but du scope 3 est d’évaluer les émissions indirectes en amont et en aval : elles correspondent donc aux émissions directes (scope 1 et 2) d’autres acteurs. Cela n’a donc pas de sens de “sommer” les scope 3 de plusieurs entreprises dans une même chaîne de valeur.
        </p>
        <p>
          En revanche, le scope 3 permet de mieux comprendre son impact indirect, que l’on peut influencer, en prenant en compte l’impact carbone de sa politique achat, sa stratégie logistique, l’efficacité énergétique de ses produits, etc.
        </p>

        <!-- TO DO ajout illustration double compte chaine de valeur -->

      </div>
    </div>



    <%= link_to "< Retour aux articles", articles_path, class:"btn btn-kc-outline-blue my-4"  %>
  </div>
</div>
