  <!-- Modale pour ajout des contributeurs -->

<div class="col-3">
  <% if params[:report_scope].present? %>
    <div class="bg-white rounded shadow">
      <% if params[:report_scope].present? %>
      <!-- Definition modale -->
        <div id="addEmail">
          <div class="tab-headerV2 pl-2">
            <h3 class="text-center"><i class="fas fa-user-plus"></i> Add Business Unit</h3>
          </div>
        </div>
      <% end %>
      <div class="scroller-70vh">
        <% if params[:report_scope].present? %>
          <!-- Definition modale -->
          <div id="addOrga">
            <!-- Simple form barre de recherche-->
            <div class="mx-2 mt-2">
              <%= form_tag url_for(report_scope: params[:report_scope]), method: :get do %>
                <div class="input-group mb-3">
                  <%= text_field_tag :query, params[:query], class:"form-control", autofocus: true%>
                  <%= hidden_field_tag :report_scope, params[:report_scope]%>
                <div class="input-group mb-3">
                  <%#= submit_tag "", id:"loupe" %>
                </div>
              <% end %>
            </div>

            <!-- Display resultats de la recherche -->
            <% if params[:query].present? %>
              <%= simple_form_for [@report, @report_scope_orga] do |f| %>
                <%= f.input :report_scope_id,
                input_html: { value: params[:report_scope] }, as: :hidden%>
                <%= f.association :orga, collection: @results, as: :check_boxes,
                label: 'Choose your Buniness Unit', label_html:{class: "fas fa-truck"} %>
                <!-- Inject categories here -->
                <%#= f.submit "Add", class: "btn btn-success w-100 py-2 mt-2"  %>
              <% end %>
            <% else %>
              <%= simple_form_for [@report, @report_scope_orga] do |f| %>
                <%= f.input :report_scope_id,
                input_html: { value: params[:report_scope] }, as: :hidden%>
                <%= f.association :orga, as: :check_boxes,
                label: 'Choose your Buniness Unit', label_html:{class: "fas fa-truck"} %>
                <!-- Inject categories here -->
              <%#= f.submit "Add", class: "btn btn-success w-100 py-2 mt-2"  %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if params[:report_scope].present? %>
    <%= link_to "Next", report_report_scope_orga_users_path(params[:report_id]), class:"btn btn-primary w-100 py-2" %>
  <% end %>
</div>

