<div id="wrapper">
  <div id="sidebar-wrapper">
    <div class="menu-top">
      <%= link_to reports_path do %>
        <h5 class="mb-4">
          <%= "KarbonChain" %>
        </h5>
      <% end %>
      <%= image_tag "jc_le_cdb.png", class: "avatar-large mb-3", alt: "avatar-large" %>
      <div class="my-reports-collapse">
        <a class="pl-0" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <h4 class="menu-top-option ">
            <%= image_tag "",class:"fas fa-folder text-primary mb-3" %>
            <%= "My reports" %>
          </h4>
        </a>
        <ul class="list-group text-left pl-3">
          <div class="collapse" id="collapseExample">
            <li class="list-group pl-3">
              <%= link_to "Create new report",
                      "data-toggle" => "modal",
                      "data-target" => "#exampleModalCenter" do %>
                <p class="text-success"><i class="fas fa-plus-circle text-success"></i>
                <%= " New report" %></p>

              <% end %>
            </li>
            <% @reports.each do |report| %>
              <li class="list-group pl-3">
                <%= link_to report_path(report.id)do %>
                  <p><i class="fas fa-file text-primary"></i>
                  <%= report.name %></p>
                <% end %>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
      <h4 class="menu-top-option">
        <%= image_tag "",class:"fas fa-building text-primary mb-3" %>
        <%= "My company" %>
      </h4>
      <h4 class="menu-top-option">
        <%= image_tag "",class:"fas fa-envelope text-primary mb-3" %>
        <%= "My messages" %>
      </h4>
    </div>
    <div class="menu-bottom mb-2">
      <ul class="list-group">
        <li class="list-group mt-3">
          <%= link_to reports_path do %>
            <h5><i class="fas fa-life-ring text-primary"></i>
            <%= " Support" %></h5>
          <% end %>
        </li>
        <li class="list-group mt-3">
          <%= link_to reports_path do %>
            <h5><i class="fas fa-cog text-primary"></i>
            <%= " Settings" %></h5>
          <% end %>
        </li>
        <li class="list-group mt-3">
          <%= link_to reports_path do %>
            <h5><i class="fas fa-sign-out-alt"></i>
            <%= " Log out"%></h5>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
