<div id="wrapper">
    <div id="sidebar-wrapper">
  <%= image_tag "jc_le_cdb.png", class: "avatar-large", alt: "avatar-large" %>
    <%= 'Hello' %>
      <ul class="sidebar-nav mt-5">
          <li class="sidebar-brand">
              <%= link_to '🗂 My reports', reports_path %>
          </li>
          <li>
           <% @reports.each do |report| %>
              <%= link_to report_path(report.id) do %>
              <!--<#%= image_tag "report-icon.png", class: "report-icon" %> -->
                <%= report.name %>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to "✆ Support","#" %>
          </li>
          <li>
            <%= link_to "⚙︎ Settings","#" %>
          </li>
          <li>
            <%= link_to root_path do %>
              <%= image_tag "log-out.png", class: "logout-icon"%>
              Log Out
            <% end %>
          </li>
      </ul>
    </div>
</div>
