<div class="banner"
     style="background-image:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0)),
            url(https://res.cloudinary.com/dkybxjjy2/image/upload/c_scale,q_auto:good,w_1600/v1586855718/KC-homepage-banner_dodnwh.png)"
>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 col-lg-4 offset-lg-0">
        <%= image_tag 'pages/home/landing-page/main-logo.png', class: "main-logo"%>
      </div>
      <div class="col-12 col-lg-7 offset-lg-1 pl-lg-5">
        <h1>Accélérez votre transition bas-carbone</h1>
        <br>
        <div class="pt-1 buttons">
          <%= link_to "En savoir plus", root_path(anchor: "main-content"), class: "btn btn-kc-blue mr-4 mb-3"%>
          <%= link_to "Nous contacter", new_contact_path, class: "btn btn-kc-turquoise mb-3"%>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Description -->

<div class="bg-white py-5" id="main-content">
  <div class="container">
    <div class="row">
      <div class="col-12 my-5 ">
        <div>
          <p>
            KarbonChain est une <span class="bg-kc-lightblue text-kc-blue"><strong>plateforme dédiée</strong></span> au suivi des émissions de gaz à effet de serre de votre organisation.
          </p>
          <br>
          <p>
            Notre approche ouverte vous permet d’<span class="bg-kc-lightblue text-kc-blue"><strong>améliorer la mesure et d'accélérer la réduction de vos émissions</strong></span> directes et indirectes.
          </p>
          <br>
          <p>
            Collaborative et transparente, KarbonChain permet de <span class="bg-kc-lightblue text-kc-blue"><strong>responsabiliser chacun et diffuser l’engagement pour le climat</strong></span> dans votre organisation et votre écosystème.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section differentiateurs "Pourquoi KarbonChain?"-->

<div class="py-5"
    style="background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
            url(https://res.cloudinary.com/dkybxjjy2/image/upload/v1588255527/geran-de-klerk-WJkc3xZjSXw-unsplash_mszfd0.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed">
  <div class="container">
    <div class="row justify-content-center my-4">
      <h2 class="text-white text-center">Pourquoi KarbonChain ?</h2>
    </div>
    <div class="row mt-4">
      <div class="col-sm-6 col-lg-3">
        <div class="differentation-card">
          <div class="align-box">
            <%= image_tag 'pages/home/landing-page/icon-collaboration2.png', class: "picto-image", alt: "Collaboration"  %>
          </div>
          <h6 class="pt-3">
            Boostez l'<span class="bg-kc-lightblue">engagement</span> de vos collaborateurs, fournisseurs et clients
          </h6>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="differentation-card">
          <div class="align-box">
            <%= image_tag 'pages/home/landing-page/icon-monitoring2.png', class: "picto-image", alt:"Passer du reporting au pilotage"  %>
          </div>
          <h6 class="pt-3">
            Passez du reporting au <span class="bg-kc-lightblue">pilotage</span> de vos émissions directes et indirectes
          </h6>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="differentation-card">
          <div class="align-box">
            <%= image_tag 'pages/home/landing-page/icon-ecosystem2.png', class: "picto-image", alt: "Travaillez avec votre ecosystème"  %>
          </div>
          <h6 class="pt-3">
            Travaillez avec votre <span class="bg-kc-lightblue">écosystème</span> sur votre plan d'actions de réduction
          </h6>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="differentation-card">
          <div class="align-box">
            <%= image_tag 'pages/home/landing-page/icon-standard2.png', class: "picto-image", alt: "Standards reconnus"  %>
          </div>
          <h6 class="pt-3">
            Appuyez-vous sur les <span class="bg-kc-lightblue">standards</span> et méthodes reconnus internationalement
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Features -->

<div class="bg-white py-5" id="solution">
  <div class="container">
    <div class="row justify-content-center my-4">
      <h2 class="text-center">Comment ça marche ?</h2>
    </div>

    <!-- Feature 1 -->
    <div class="row py-2 align-items-center">
      <div class="col-12 col-md-6 feature-description">
        <h5 class="text-kc-orange">
          Collecte des données décentralisée
        </h5>
        <p>
          Invitez vos collaborateurs, fournisseurs et clients
        </p>
        <p>
          Collectez les données opérationnelles, y compris en amont et aval de vos activités
        </p>
      </div>
      <div class="col-12 col-md-6 text-center">
        <%= image_tag 'pages/home/landing-page/feature-data-collection.png', class: "feature-logo", alt: "Collecte des données décentralisée"  %>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="row py-2 align-items-center">
      <div class="col-12 col-md-6 order-md-2 feature-description"> <!-- Inversion de l'ordre quand on passe sur 2 colonnes -->
        <div>
          <h5 class="text-kc-orange">
            Calcul automatisé des émissions
          </h5>
          <p>
            Personnalisez les facteurs d’émissions selon vos activités
          </p>
          <p>
            Partagez les meilleures pratiques de calculs d’émissions
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 text-center">
        <%= image_tag 'pages/home/landing-page/feature-calcul.png', class: "feature-logo", alt: "Calcul automatisé des émissions"  %>
      </div>
    </div>

    <!-- Feature 3 -->
    <div class="row py-2 align-items-center">
      <div class="col-12 col-md-6 feature-description">
        <h5 class="text-kc-orange">
          Scénarios bas-carbone et plan d’actions
        </h5>
        <p>
          Construisez et diffusez la trajectoire bas-carbone de votre organisation
        </p>
      </div>
      <div class="col-12 col-md-6 text-center">
        <%= image_tag 'pages/home/landing-page/feature-scenario.png', class: "feature-logo", alt: "Scénarios bas-carbone et plan d’actions"   %>
      </div>
    </div>

    <!-- Feature 4 -->
    <div class="row py-2 align-items-center">
      <div class="col-12 col-md-6 order-md-2 feature-description"> <!-- Inversion de l'ordre quand on passe sur 2 colonnes -->
        <div>
          <h5 class="text-kc-orange">
            Suivi et analyse d’impacts
          </h5>
          <p>
            Suivez la progression de chaque action en faveur du climat
          </p>
          <p>
            Simplifiez l’analyse entre les exercices
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 text-center">
        <%= image_tag 'pages/home/landing-page/feature-suivi.png', class: "feature-logo", alt:"Suivi et analyse d’impacts"  %>
      </div>
    </div>

    <!-- Feature 5 -->
    <div class="row py-2 align-items-center">
      <div class="col-12 col-md-6 feature-description">
        <h5 class="text-kc-orange">
          Reporting réglementaire et volontaire
        </h5>
        <p>
          Reporting au format des principaux cadres réglementaires et volontaires
        </p>
        <p>
          Audit simplifié
        </p>
      </div>
      <div class="col-12 col-md-6 text-center">
        <%= image_tag 'pages/home/landing-page/feature-reporting.png', class: "feature-logo", alt: "Reporting réglementaire et audit"  %>
      </div>
    </div>

  </div>
</div>


<!-- Boutons avec call to action -->
<div class="bg-kc-blue py-5">
  <div class="container">
    <div class="row justify-content-center my-4">
      <h2 class="text-white">Intéressé.e ?</h2>
    </div>
    <div class="row justify-content-center">
<!--       <div class="col-8 col-lg-3 text-center my-4">
 --><!--         <%= link_to "Démarrer", reports_path, class: "home-button landing-main-blue btn-block text-white"%>
 -->      <!-- </div> -->
      <div class="col-8 col-lg-4 text-center my-4">
        <%= link_to "Contactez-nous !", new_contact_path, class: "btn btn-kc-outline-lightgray btn-block"%>
      </div>
    </div>
  </div>
</div>
