<div class="banner"
     style="background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.4)),
            url(https://res.cloudinary.com/dkybxjjy2/image/upload/v1586855718/KC-homepage-banner_dodnwh.png);"
>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag 'landing-page/main-logo.png', class: "main-logo"%>
      </div>
        <div class="col-8">
        <h1>Accélérez votre transition <br> bas-carbone</h1>
        <br>
        <%= link_to "Démarrer", reports_path, class: "home-button landing-main-blue white-text"%>
        <%= link_to "Nous contacter", reports_path, class: "btn btn-light"%>
      </div>
    </div>
  </div>
</div>

<div class="landing-background-color">
  <div class="container">
    <div class="row">
      <div class="col-12 landing-background-color mt-5 mb-5 pl-5 pr-5">
        <div>
          <h5>
            KarbonChain est une <strong>plateforme dédiée</strong> au suivi des émissions de gaz à effet de serre de votre organisation.
          </h5>
          <br>
          <h5>
            Notre approche ouverte vous permet d’<strong>améliorer la mesure et d'accélérer laréduction de vos émissions</strong> directes et indirectes
          </h5>
          <br>
          <h5>
            Collaborative et transparente, KarbonChain permet de <strong>responsabiliser chacun et diffuser l’engagement pour le climat</strong> dans votre organisation et votre écosystème.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Feature 1 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-3 center-box"
            style="background-image:
            url(landing-page/polygon-1.png)">
        <h3>
          Collecte des données décentralisée
        </h3>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-data-collection.png', class: "main-logo"  %>
      </div>
      <div class="col-4 center-box">
        <div>
          <p>
            Invitez vos collaborateurs, fournisseurs et clients
          </p>
          <p>
            Collectez les données opérationnelles, y compris en amont et aval de vos activités
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Feature 2 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-4 center-box">
        <div>
          <p>
            Personnalisez les facteurs d’émissions selon vos activités
          </p>
          <p>
            Partagez les meilleures pratiques de calculs d’émissions
          </p>
        </div>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-calcul.png', class: "main-logo"  %>
      </div>
      <div class="col-3 center-box">
        <h3>
          Calcul des émissions
        </h3>
      </div>
    </div>
  </div>
</div>


<!-- Feature 3 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-3 center-box">
        <h3>
          Scénarios bas-carbone et plan d’actions
        </h3>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-scenario.png', class: "main-logo"  %>
      </div>
      <div class="col-4 center-box">
        <p>
          Construisez et diffusez la trajectoire bas-carbone de votre organisation
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Feature 4 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-4 center-box">
        <div>
          <p>
            Suivez la progression de chaque action en faveur du climat
          </p>
          <p>
            Simplifiez l’analyse entre les exercices
          </p>
        </div>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-suivi.png', class: "main-logo"  %>
      </div>
      <div class="col-3 center-box">
        <h3>
          Suivi et analyse d’impacts
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Feature 5 -->
<div class="bg-white pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-3 center-box">
        <h3>
          Reporting réglementaire et volontaire
        </h3>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-reporting.png', class: "main-logo"  %>
      </div>
      <div class="col-4 center-box">
        <div>
          <p>
            Reporting au format des principaux cadres réglementaires et volontaires
          </p>
          <p>
            Audit simplifié
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white pb-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-2">
        <%= link_to "Démarrer", reports_path, class: "home-button landing-main-blue white-text"%>
      </div>
      <div class="col-2">
        <%= link_to "Nous contacter", reports_path, class: "btn btn-light"%>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</div>

