<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?cs=srgb&dl=architecture-buildings-business-city-325185.jpg&fm=jpg);">
  <div class="container">
    <h1>Karbon<strong>Chain</strong></h1>
    <p>The carbon accounting platform for your company.</p>
    <%= link_to "Start now", reports_path, class: "btn btn-light"%>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-3 flex-cell">
        <%= image_tag 'landing-features/integrated.png', class: "img-landing" %>
    </div>
    <div class="col-3 flex-cell">
      <%= image_tag'landing-features/supply-chain.png', class: "img-landing"  %>
    </div>
    <div class="col-3 flex-cell">
      <%= image_tag 'landing-features/collaborative.png', class: "img-landing"  %>
    </div>
    <div class="col-3 flex-cell">
      <%= image_tag 'landing-features/corporate functions.png', class: "img-landing"  %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <h4 class="text-center">All emissions</h4>
      <!-- <p>Selon l'AIE, après une stabilisation des émissions mondiales en 2014, 2015 et 2016 grâce à des progrès dans le domaine de l'efficacité énergétique, les émissions sont ensuite reparties à la hausse, la concentration moyenne mondiale de CO2 dans l’atmosphère atteignant de nouveaux records en 2017 puis en 2018</p> -->
    </div>
    <div class="col-3">
      <h4 class="text-center">Supply chain visibility</h4>
      <!-- <p>Le taux moyen de CO2 dans l'air a atteint 393 ppm en 2012 et 400 ppm en avril 2014 dans tout l'hémisphère nord, soit 0,04 % de la composition de l'atmosphère terrestre, avec quelques variations jour-nuit, saisonnières (pour partie anthropiques) et des pics de pollution localisés.</p> -->
    </div>
    <div class="col-3">
      <h4 class="text-center">Collaboration</h4>
      <!-- <p>Une émission de dioxyde de carbone est un rejet de ce gaz dans l'atmosphère, quelle qu'en soit la source. Les émissions de dioxyde de carbone (CO2) dans l'atmosphère sont d'origines naturelle et anthropique1 (c'est-à-dire issues des activités humaines)</p> -->
    </div>
    <div class="col-3">
      <h4 class="text-center">All functions</h4>
      <!-- <p>Une émission de dioxyde de carbone est un rejet de ce gaz dans l'atmosphère, quelle qu'en soit la source. Les émissions de dioxyde de carbone (CO2) dans l'atmosphère sont d'origines naturelle et anthropique1 (c'est-à-dire issues des activités humaines)</p> -->
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-3">
      <p class="text-center">Covers the <strong>full footprint</strong>, with direct and indirect emissions</p>
    </div>
    <div class="col-3">
      <p class="text-center">Integrates with <strong>any supplier</strong> without pre-installation</p>
    </div>
    <div class="col-3">
      <p class="text-center"><strong>Simplifies collaboration</strong> across the company and beyond</p>
    </div>
    <div class="col-3">
      <p class="text-center">Covers carbon footprint for <br><strong>all corporate functions</strong></p>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-full-height">
        <img src="https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-full-height">
        <img src="https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
