<div class="banner"
     style="background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.4)),
            url(https://assets.currencycloud.com/wp-content/uploads/2017/07/industry-1080x675.jpeg);"
>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= image_tag 'landing-page/main-logo.png', class: "main-logo"  %>
      </div>
        <div class="col-8">
        <h1>Accélérez votre transition <br> bas-carbone</h1>
        <br>
        <%= link_to "Démarrer", reports_path, class: "btn btn-light"%>
        <%= link_to "Nous contacter", reports_path, class: "btn btn-light"%>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 landing-background-color mt-5 mb-5 pl-5 pr-5">
      <div>
        <h5>
          KarbonChain est une <strong>plateforme dédiée</strong> au suivi des émissions de gaz à effet de serre de votre organisation.
        </h5>
        <br>
        <h5>
          Notre approche ouverte vous permet d’<strong>améliorer la mesure de vos émissions</strong> directes et indirectes
        </h5>
        <br>
        <h5>
          Collaborative et transparente, KarbonChain permet de <strong>responsabiliser chacun et diffuser l’engagement pour le climat</strong> dans votre organisation.
        </h5>
      </div>
    </div>
  </div>
</div>


<!-- Feature 1 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-3 center-box">
        <h3>
          Collecte des données décentralisée
        </h3>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-data-collection.png', class: "main-logo"  %>
      </div>
      <div class="col-4 center-box">
        <div>
          <p>
            > Invitez vos collaborateurs et fournisseurs
          </p>
          <p>
            > Collectez les données opérationnelles, y compris en amont et aval de vos activités
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Feature 2 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-4 center-box">
        <div>
          <p>
            > Personalisez les facteurs d’émissions selon vos activités
          </p>
          <p>
            > Partagez les meilleures pratiques de calculs d’émissions
          </p>
        </div>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-calcul.png', class: "main-logo"  %>
      </div>
      <div class="col-3 center-box">
        <h3>
          Calcul des émissions
        </h3>
      </div>
    </div>
  </div>
</div>


<!-- Feature 3 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-3 center-box">
        <h3>
          Scénarios bas-carbone et plan d’actions
        </h3>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-scenario.png', class: "main-logo"  %>
      </div>
      <div class="col-4 center-box">
        <p>
          > Construisez et diffusez la trajectoire bas-carbone de votre organisation
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Feature 4 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-4 center-box">
        <div>
          <p>
            > Suivez la progression de chaque action en faveur du climat
          </p>
          <p>
            > Simplifiez l’analyse entre les exercices
          </p>
        </div>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-suivi.png', class: "main-logo"  %>
      </div>
      <div class="col-3 center-box">
        <h3>
          Suivi et analyse d’impacts
        </h3>
      </div>
    </div>
  </div>
</div>

<!-- Feature 5 -->
<div class="bg-white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-3 center-box">
        <h3>
          Reporting réglementaire et volontaire
        </h3>
      </div>
      <div class="col-5 center-box">
        <%= image_tag 'landing-page/feature-reporting.png', class: "main-logo"  %>
      </div>
      <div class="col-4 center-box">
        <div>
          <p>
            > Reporting au format des principaux cadres réglementaires et volontaires
          </p>
          <p>
            > Audit simplifié
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container mt-3">
  <div class="row">
    <div class="col-3 flex-cell">
        <%= image_tag 'landing-features/integrated.png', class: "img-landing" %>
    </div>
    <div class="col-3 flex-cell">
      <%= image_tag'landing-features/supply-chain.png', class: "img-landing"  %>
    </div>
    <div class="col-3 flex-cell">
      <%= image_tag 'landing-features/collaborative.png', class: "img-landing"  %>
    </div>
    <div class="col-3 flex-cell">
      <%= image_tag 'landing-features/corporate functions.png', class: "img-landing"  %>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-3">
      <h4 class="text-center">All emissions</h4>
    </div>
    <div class="col-3">
      <h4 class="text-center">Supply chain visibility</h4>
    </div>
    <div class="col-3">
      <h4 class="text-center">Collaboration</h4>
    </div>
    <div class="col-3">
      <h4 class="text-center">All functions</h4>
    </div>
  </div>
</div> -->

<!-- <div class="container mb-5">
  <div class="row">
    <div class="col-3">
      <p class="text-center">Covers the <strong>full footprint</strong>, with direct and indirect emissions</p>
    </div>
    <div class="col-3">
      <p class="text-center">Integrates with <strong>any supplier</strong> without pre-installation</p>
    </div>
    <div class="col-3">
      <p class="text-center"><strong>Simplifies collaboration</strong> across the company and beyond</p>
    </div>
    <div class="col-3">
      <p class="text-center">Covers carbon footprint for <br><strong>all corporate functions</strong></p>
    </div>
  </div>
</div> -->
