<div class="bg-kc-orange py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Titre -->
        <h1 class="my-4 text-white">
          Contact
        </h1>
        <!-- Chapeau -->
        <p>
          Des questions ? Envie d'une démo ? Dites-nous tout.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-5"
    style="background-image:
            url(https://res.cloudinary.com/dkybxjjy2/image/upload/c_scale,q_auto:good,w_1920/v1589558048/three-pink-green-and-yellow-houses-2904142_xtltl1.jpg);
            background-size: cover;
            background-position: center;">
  <div class="container article">
    <div class="row justify-content-center mb-5">

      <div class="col-12 col-sm-8 col-lg-6">
        <%= form_for(@contact) do |f| %>
          <div class="field mb-3 d-flex justify-content-between">
            <%= f.text_field :name, placeholder: "Votre nom", style: 'width:35%;', class: "form-control" %>
            <%= f.text_field :email, placeholder: "Votre email", style: 'width:60%', class: "form-control" %>
          </div>
          <div class="field mb-3">
            <%= f.text_area :message, placeholder: "Votre message", style: 'width:100%; height: 20vh;', class: "form-control"  %>
          </div>
          <div class="field mb-3">
            <%= check_box_tag(:newsletter) %>
            <%= f.label "Je souhaite recevoir les actualités de KarbonChain"%>

          </div>
          <div class="d-flex justify-content-end">

            <div class="actions">
              <%= f.submit "Envoyer", class: 'btn btn-kc-outline-orange'%>
            </div>
          </div>
        <% end %>
        <br>
        <br>
        <p>Vous pouvez également nous écrire directement à l'adresse
        <span class="bg-kc-lightblue text-kc-blue"><%= mail_to "contact@karbonchain.com", "contact@karbonchain.com" %></span>, à bientôt !
        </p>
      </div>

    </div>
  </div>
</div>




