<div class="container">

  <h4>My company: <%= @company.name %></h4>

  <h5>My reports: </h5>
  <ul>
  <% if @company.reports.nil? == false %>
    <% @company.reports.each do |report| %>
    <li>
        <p><%= report.name %> </p>
    </li>
    <% end %>
  <% else %>
    <p>You don't have any report yet.</p>
    <!-- Link to do -->
    <%= link_to "Create your first report", root_path %>
  <% end %>
  </ul>

  <h5>My organization: </h5>
  <ul>
    <% @company.orgas.each do |orga| %>
      <li>
        <p><%= orga.name %> - <%= orga.id %> - <%= link_to "Delete",
                                  company_orga_path(@company.id, orga.id),
                                  method: :delete,
                                  class:"btn btn-secondary" %></p>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add an organization", new_company_orga_path(@company.id), class:"btn btn-primary" %>

</div>
