<div class="reports-index-grid">
  <%= link_to "Create new report",
        "data-toggle" => "modal",
        "data-target" => "#generate-report" do %>
    <div class="card-add">
      <div class="plus-icon">
        <%= image_tag "action-report.png", alt: "create new report", class: 'add-action-report'%>
      </div>
    </div>
  <% end %>

  <% @reports.each do |report| %>
    <%= link_to report_path(report) do %>
      <div class="report-card">
        <div class="report-card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=report_photo(report)%>)">
          <div class="report-status completed">
            completed
          </div>
          <div class="report-card-infos">
            <h2><%= report.name %></h2>
            <h3>- <%= report.year %> -</h3>
          </div>
        </div>
        <div class="report-card-grid">
          <div class="report-card-grid-col report-card-orga report-tooltip">

            <h5 data-toggle="tooltip"
                data-html="true"
                title="">
              <span><%= report.report_scope_orgas.length %></span><br>
              Organizations
            </h5>
            <ul>
              <% report.report_scopes.each do |report_scope| %>
                <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
                  <li>
                    <% if report_scope_orga.orga.photo.attached?  %>
                      <%= cl_image_tag report_scope_orga.orga.photo.key, :crop=>"fill", class:"avatar-orgas", style:"width:20px; height:20px"%>
                    <% else %>
                      <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar-orgas", style:"width:20px; height:20px"%>
                    <% end %>
                    <%= report_scope_orga.orga.name %>
                  </li>
                <% end  %>
              <% end %>
            </ul>
          </div>
          <div class="report-card-grid-col report-card-module report-tooltip">
            <h5 data-toggle="tooltip"
                data-html="true"
                title="">
              <span><%= report.report_scopes.length %></span><br>
              Emission types
            </h5>
            <ul>
              <% report.report_scopes.each do |report_scope| %>
                <li>
                  <% if report_scope.emission_module.photo.attached?  %>
                    <%= cl_image_tag report_scope.emission_module.photo.key, :crop=>"fill", class:"avatar-orgas", style:"width:20px; height:20px"%>
                  <% else %>
                    <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar-orgas", style:"width:20px; height:20px"%>
                  <% end %>
                  <%= report_scope.emission_module.name %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="report-card-grid-col report-card-contrib">
            <div class="avatar-contribs-box">
              <% report.report_scope_orga_users.each_with_index do |user, index|%>
                <% if user.photo.attached?  %>
                  <%= cl_image_tag user.photo.key.first(5), :crop=>"fill", class:"avatar", style:"left:-#{index * 20}px"%>
                <% else %>
                  <%= image_tag "http://www.tafecafe.com/wp-content/uploads/2015/09/default_avatar.png", class:"avatar", style:"left:-#{index * 20}px"%>
                <% end %>
              <% end %>
            </div>
            <%#= link_to image_tag("loupe-icon.png"), report_path(report), class: "loupe-icon"%>
          </div>
        </div>
        <%#= link_to "", report_path(report), class: "report-card-link"%>
      </div>
    <% end %>
  <% end %>
</div>


<!-- Modal Creation de report  -->
<div class="modal fade" id="generate-report" tabindex="-1" role="dialog" aria-labelledby="generate-reportTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "croix.svg", data: {dismiss:"modal"}, class: "close-modal" %>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="generate-reportTitle">Let's generate a new report</h5>
        <%= image_tag "modal-background", class: "bg-modal" %>
        <%= simple_form_for (@report) do |f| %>
            <%= f.input :name, label: false, placeholder: " Choose a Name", class:"form-modal"  %>
            <%= f.input :year,label: false, placeholder: " Choose a Year", as: :date,  discard_day: true, discard_month: true, class:"form-modal" %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, value: "Generate", class:"btn-generate", data: {disable_with: "Generating report form"}%>
      </div>
        <% end %>
    </div>
  </div>
</div>
