<div class="reports-index-grid">
  <%= link_to "Create new report",
        "data-toggle" => "modal",
        "data-target" => "#exampleModalCenter" do %>
    <div class="card-add">
      <div class="plus-icon">
        <%= image_tag "action-report.png", alt: "create new report", class: 'add-action-report'%>
      </div>
    </div>
  <% end %>

  <% @reports.each do |report| %>
    <div class="report-card">
      <div class="report-card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=report_photo(report)%>)">
        <div>
          <h2><%= report.name %></h2>
          <h3><%= report.year %></h3>
        </div>
      </div>
      <div class="report-card-grid">
        <div class="report-card-grid-col report-card-orga">
          <h5>Organization</h5>
          <ul>
            <% report.report_scopes.each do |report_scope| %>
              <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
                <li>
                  <% if report_scope_orga.orga.photo.attached?  %>
                    <%= cl_image_tag report_scope_orga.orga.photo.key, :crop=>"fill", class:"avatar", style:"width:20px; height:20px"%>
                  <% else %>
                    <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar", style:"width:20px; height:20px"%>
                  <% end %>
                  <%= report_scope_orga.orga.name %>
                </li>
              <% end  %>
            <% end %>
          </ul>
        </div>
        <div class="report-card-grid-col report-card-module">
          <h5>Modules</h5>
          <ul>
            <% report.report_scopes.each do |report_scope| %>
              <li>
                <% if report_scope.emission_module.photo.attached?  %>
                  <%= cl_image_tag report_scope.emission_module.photo.key, :crop=>"fill", class:"avatar", style:"width:20px; height:20px"%>
                <% else %>
                  <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar", style:"width:20px; height:20px"%>
                <% end %>
                <%= report_scope.emission_module.name %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="report-card-grid-col report-card-contrib">
          <h5>Contributors</h5>
          <div class="avatar-contribs-box">
            <% report.report_scope_orga_users.each_with_index do |user, index|%>
              <% if user.photo.attached?  %>
                <%= cl_image_tag user.photo.key, :crop=>"fill", class:"avatar", style:"width:40px; height:40px;left:-#{index * 20}px"%>
              <% else %>
                <%= image_tag "http://www.tafecafe.com/wp-content/uploads/2015/09/default_avatar.png", class:"avatar", style:"width:40px; height:40px;left:-#{index * 20}px"%>
              <% end %>
            <% end %>



          </div>
          <%#= link_to image_tag("loupe-icon.png"), report_path(report), class: "loupe-icon"%>
        </div>
      </div>
      <%#= link_to "", report_path(report), class: "report-card-link"%>
    </div>
  <% end %>

</div>


<!-- Modal Creation de report  -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add new report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@report) do |f| %>
            <%= f.input :name, placeholder: "Name" %>
            <%= f.input :year, placeholder: "Year", as: :date,  discard_day: true, discard_month: true %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Create your report", class: "btn btn-primary btn-lg" %>
      </div>
        <% end %>
    </div>
  </div>
</div>
