<div class="container">
  <h1 id="title-reports"> list of all your reports</h1>
  <%= link_to "Create new report",
              "#",
              class: "btn btn-light",
              "data-toggle" => "modal",
              "data-target" => "#exampleModalCenter"%>
  <% @reports.each do |report| %>
    <%= link_to report_path(report) do %>
      <div class="card-product">
        <% if report.photo.attached? %>
          <%= cl_image_tag report.photo.key, height: 100, width: 120, crop: :fill %>
        <% else %>
          <%= image_tag "clouds-default-img.png", alt: "default-report-img", height: 100, width: 200 %>
        <% end %>
        <div class="card-product-infos">
          <div>
            <h2><%= report.name %></h2>
            <h3><%= report.year %></h3>
          </div>
          <% report.report_scopes.each do |report_scope| %>
            <div class= "info-scope">
              <p>☁︎ <%= report_scope.emission_module.name %></p>
              <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
                <p>🏭 <%= report_scope_orga.orga.name %></p>
              <% end  %>
            </div>
          <% end %>
          <div>
            <%= button_to "delete", report_path(report), method: :delete, data: {confirm: "Are you sure?"}%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Modal Creation de report  -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add new report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@report) do |f| %>
            <%= f.input :name, label_html: {class: "label_new"} %>
            <%= f.input :year, label_html: {class: "label_new"} %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Create your report", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
