<div class="container">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="../<%= @report.id %>">Progress</a>
    <a class="nav-item nav-link active" href="#">Result</a>
  </nav>
</div>

  <div class="container mt-3 mb-2">
    <h3>Your report : <%= @report.name %> - <%= @report.year %></h3>
  </div>

<!--
----------------------------------------------------------
DATA TABLE
 ----------------------------------------------------------
-->

<br><br>
<%= @y_axis_organizations %>
<br><br>
<%= @x_axis_modules %>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-2">
      <p>Module</p>
    </div>
    <div class="col-2">
      <p>Organization</p>
    </div>
    <div class="col-2">
      <p>Question number</p>
    </div>
    <div class="col-2">
      <p>Emission factor value</p>
    </div>
    <div class="col-2">
      <p>Answer</p>
    </div>
    <div class="col-2">
      <p>Calculation of total emissions</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @output_array.each do |item| %>
        <div class="col-2">
          <p><%= item[:emission_module_name] %></p>
        </div>
        <div class="col-2">
          <p><%= item[:orga_scope_name] %></p>
        </div>
        <div class="col-2">
          <!-- Question number -->
          <p><%= item[:answer_number] %></p>
        </div>
        <div class="col-2">
          <!-- Question emission factor name and value -->
          <p><%= item[:ademe_factor] %></p>
        </div>
        <div class="col-2">
          <!-- Answer value -->
          <p><%= item[:answer] %></p>
        </div>
        <div class="col-2">
          <!-- Output (emission factur x answer value) -->
          <p><%= item[:emission_answer_calculation] %></p>
        </div>
    <% end %>
  </div>
</div>

<!--
----------------------------------------------------------
SIMPLE BAR CHART
 ----------------------------------------------------------
-->

<!-- <div class="container">
  <p>Test 1</p>
  <div>
    <%= content_tag 'canvas', '', id: 'myChart', width: '1000', height: '600',
        data: {titles: @labels,
              values: @emissions_bar_chart} %>
  </div>
</div>
 -->

<!--
----------------------------------------------------------
STACKED BAR CHART
 ----------------------------------------------------------
 -->


<div class="container">


<!-- Déclaration données : orga et emissions -->
  <%= content_tag :div, '',
                  id: 'bar_chart_data',
                  data: {emissions: @y_axis_organizations,
                        orga: @label_orga} %>

  <p>Test 2</p>
  <%= content_tag 'canvas', '',
                  id: 'mybarChart',
                  width: '1000', height: '600',
                  data: {titles: @x_axis_modules} %>
</div>

<!-- y_axis: @y_axis_organizations  -->

<div class="container">
  <h2>Ajout de tab avec les resultats </h2>
  <p>Tab par type d'orga</p>
  <p>avec les infos de chaque module : question & réponse</p>
</div>

