<div class="container">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="../<%= @report.id %>">Progress</a>
    <a class="nav-item nav-link active" href="#">Result</a>
  </nav>
</div>

  <div class="container mt-3 mb-2">
    <h3>Your report : <%= @report.name %> - <%= @report.year %></h3>
  </div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <p>Question number</p>
    </div>
    <div class="col-3">
      <p>Emission factor value</p>
    </div>
    <div class="col-3">
      <p>Answer</p>
    </div>
    <div class="col-3">
      <p>Calculation of total emissions</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @output_array.each do |item| %>
        <div class="col-3">
          <!-- Question number -->
          <p><%= item[:answer_number] %></p>
        </div>
        <div class="col-3">
          <!-- Question emission factor name and value -->
          <p><%= item[:ademe_factor] %></p>
        </div>
        <div class="col-3">
          <!-- Answer value -->
          <p><%= item[:answer] %></p>
        </div>
        <div class="col-3">
          <!-- Output (emission factur x answer value) -->
          <p><%= item[:emission_answer_calculation] %></p>
        </div>
    <% end %>
  </div>
</div>
