<!-- Titre report -->
<div class="container mt-3 mb">
  <h3><%= @report.name %> - <%= @report.year %></h3>
</div>

<div class="d-flex">
  <div>
    <!--
    ----------------------------------------------------------
    PIE BAR CHART (PROGRESS)
     ----------------------------------------------------------
    -->
    <div class="dashboard-card-1">
      <div class="top-box mb-3">
        <h5><i class="fas fa-sort-amount-up"></i> Progress</h5>
      </div>
      <div class="align-items-center">
        <%= content_tag 'canvas', '',
                    id: 'progressPieChart',
                    width: '150', height: '150',
                    data: {progress: @progress_data } %>
      </div>
    </div>
    <!--
    ----------------------------------------------------------
    CURRENT SCOPE
     ----------------------------------------------------------
    -->
    <div class="dashboard-card-1">
      <div class="top-box">
        <h5><i class="fas fa-users"></i>  Scope</h5>
      </div>
      <!-- Table -->
      <div class="container">
        <!-- Headers -->
        <div class="row">
          <div class="col-6">
            <p><strong>Emissions</strong> </p>
          </div>
          <div class="col-6">
            <p><strong>Organization</strong></p>
          </div>
        </div>
        <!-- Content -->

        <% @report.report_scopes.each do |report_scope| %>
          <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
            <div class="row">
              <!-- Emissions module -->
              <div class="col-6">
                <% if report_scope.emission_module.photo.attached?  %>
                  <p  class="small-text-dashboard">
                    <%= cl_image_tag report_scope.emission_module.photo.key, :crop=>"fill", class:"avatar", style:"width:20; height:20"%>
                    <%= report_scope.emission_module.name %>
                  </p>
                <% else %>
                  <p  class="small-text-dashboard">
                    <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar", style:"width:20px; height:20px"%>
                    <%= report_scope.emission_module.name %>
                  </p>
                <% end %>
              </div>
              <!-- Orga -->
              <div class="col-6">
                <p  class="small-text-dashboard">
                  <%= cl_image_tag report_scope_orga.orga.photo.key, :crop=>"fill", class:"avatar", style:"width:20px; height:20px"%>
                  <%= report_scope_orga.orga.name %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="text-center">
        <p class="btn btn-secondary btn-sm">Add a team</p>
      </div>
    </div>
  </div>

  <!--
  ----------------------------------------------------------
  STACKED BAR CHART (EMISSIONS)
   ----------------------------------------------------------
   -->
  <div>
    <div class="dashboard-card-2">
      <div class="top-box">
        <h5>☁︎  Emissions</h5>
      </div>
      <p><em>kgCO2e</em> </p>
      <div class="d-flex align-items-center">
        <%= content_tag :div, '',
                        id: 'bar_chart_data',
                        data: {emissions: @y_axis_organizations,
                              orga: @label_orga} %>
        <%= content_tag 'canvas', '',
                        id: 'mybarChart',
                        width: '600', height: '300',
                        data: {titles: @x_axis_modules} %>
      </div>
    </div>
    <!--
    ----------------------------------------------------------
    DETAILS DATA (table)
     ----------------------------------------------------------
    -->
    <div class="dashboard-card-2">
      <div class="top-box">
          <h5><i class="fas fa-database"></i> Details</h5>
      </div>
      <div class="pl-3">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% @report.report_scopes.each do |report_scope| %>
              <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
                <li>
                  <a data-value="">
                    <%= report_scope.emission_module.name %> - <%= report_scope_orga.orga.name %>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-between p-3">
        <div>
          <p>Team</p>
          <%= simple_form_for @report do |f| %>
            <% @report.report_scopes.each do |report_scope| %>
              <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
              <% end %>
            <% end %>
          <% end %>

        </div>
        <div>
          <p>Status</p>
        </div>
        <div>
          <p><i class="far fa-envelope fa-2x"></i> <i class="far fa-comment-dots fa-2x"></i> <i class="fab fa-skype fa-2x"></i></p>
        </div>
      </div>

            <!-- Table -->
      <div class="container">
        <!-- headers -->
        <div class="row">
          <div class="col-4">
            <p><strong>Data request</strong> </p>
          </div>
          <div class="col-2">
            <p><strong>Team input</strong></p>
          </div>
          <div class="col-2">
            <p><strong>Emissions</strong></p>
          </div>
          <div class="col-2">
            <p><strong>Comments</strong></p>
          </div>
          <div class="col-2">
            <p><strong>Attachments</strong></p>
          </div>
        </div>
      </div>

      <!-- Content with loop -->
      <div class="row pl-3 pr-3">
        <% @output_array.each do |item| %>
          <!-- Question -->
          <div class="col-4">
            <p class="small-text-dashboard"><%= item[:question] %></p>
          </div>
          <!-- Team input -->
          <div class="col-2">
            <p class="small-text-dashboard"><%= item[:answer].truncate(0)%> <%= item[:answer_unit] %></p>
          </div>
          <!-- Emissions calculated -->
          <div class="col-2">
            <p class="small-text-dashboard"><%= item[:emission_answer_calculation].truncate(0)%> kgCO2e</p>
          </div>
          <!-- Comments -->
          <div class="col-2">
            <!-- TO DO - boucle if sur comment avec "n.a." -->
            <p class="small-text-dashboard"><em>N.a.</em></p>
          </div>
          <!-- Attachment -->
          <div class="col-2">
            <!-- TO DO - boucle if avec ".n.A" -->
            <p class="small-text-dashboard"><i class="far fa-file-pdf"> <i class="far fa-file-excel"></i></i></p>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
