<!-- Titre report -->
<div class="container mt-3 mb-2">
  <h3>Your report : <%= @report.name %> - <%= @report.year %></h3>
</div>

<div class="container">
  <div class="row">
      <!--
      ----------------------------------------------------------
      PIE BAR CHART (PROGRESS)
       ----------------------------------------------------------
       -->
    <div class="col-4">
      <div class="container">
        <h5>Progress</h5>
        <div class="d-flex align-items-center">
          <%= content_tag 'canvas', '',
                      id: 'progressPieChart',
                      width: '200', height: '200',
                      data: {progress: @progress_data } %>
        </div>
      </div>
    </div>
    <!--
    ----------------------------------------------------------
    STACKED BAR CHART (EMISSIONS)
     ----------------------------------------------------------
     -->
    <div class="col-8">
      <div class="container">
        <h5>Emissions</h5>
        <p><em>kgCO2e</em> </p>
        <!-- Déclaration données : orga et emissions -->
        <div class="d-flex align-items-center">
          <%= content_tag :div, '',
                          id: 'bar_chart_data',
                          data: {emissions: @y_axis_organizations,
                                orga: @label_orga} %>
          <%= content_tag 'canvas', '',
                          id: 'mybarChart',
                          width: '600', height: '400',
                          data: {titles: @x_axis_modules} %>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!--
    ----------------------------------------------------------
    CURRENT SCOPE
     ----------------------------------------------------------
    -->
    <div class="col-4">
      <h5>Scope</h5>
      <!-- Table -->
      <div class="container">
        <!-- Headers -->
        <div class="row">
          <div class="col-6">
            <p>Emissions</p>
          </div>
          <div class="col-6">
            <p>Organization</p>
          </div>
        </div>
        <!-- Content -->
        <div class="row">
          <div class="col-6">
            <p>dummy</p>
          </div>
          <div class="col-6">
            <p>dummy</p>
          </div>
        </div>
      </div>
      <p>Add</p>
    </div>

    <!--
    ----------------------------------------------------------
    DETAILS DATA (table)
     ----------------------------------------------------------
    -->
    <div class="col-8">
      <div>
          <h5>Emissions - Orga</h5>
      </div>
      <div class="d-flex">
        <div>
          <p>Team</p>
        </div>
        <div>
          <p>Project status</p>
        </div>
        <div>
          <p>Social icons</p>
        </div>
      </div>

      <!-- Table -->
      <div class="container">
        <!-- headers -->
        <div class="row">
          <div class="col-3">
            <p>Data request</p>
          </div>
          <div class="col-3">
            <p>Team input</p>
          </div>
          <div class="col-2">
            <p>Emissions</p>
          </div>
          <div class="col-2">
            <p>Comments</p>
          </div>
          <div class="col-2">
            <p>Attachments</p>
          </div>
        </div>
      </div>

      <!-- Content with loop -->
      <div class="row">
        <div class="col-3">
          <p>dummy</p>
        </div>
        <div class="col-3">
          <p>dummy</p>
        </div>
        <div class="col-2">
          <p>dummy</p>
        </div>
        <div class="col-2">
          <p>dummy</p>
        </div>
        <div class="col-2">
          <p>dummy</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
----------------------------------------------------------
DATA TABLE
 ----------------------------------------------------------
-->

<!-- TO DO - mettre ongletes -->
<!-- <br><br>
<%= @y_axis_organizations %>
<br><br>
<%= @x_axis_modules %>
<br><br>
 -->

<div class="container">
  <div class="row">
    <div class="col-2 tab-header text-white">
      <p class="text-center">Module - Organization</p>
    </div>
    <div class="col-4 tab-header text-white">
      <div class="tab-header text-white">
        <p class="text-center">Question</p>
      </div>
    </div>
    <div class="col-2 tab-header text-white">
      <div class="tab-header text-white">
        <p class="text-center">Emission factor value</p>
      </div>
    </div>
    <div class="col-2 tab-header text-white">
      <div class="tab-header text-white">
        <p class="text-center">Answer</p>
      </div>
    </div>
    <div class="col-2 text-white">
      <div class="tab-header text-white">
        <p class="text-center">Calculation of total emissions</p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @output_array.each do |item| %>
      <% if item[:calculation] == true %>
        <div class="col-2">
          <p><%= item[:emission_module_name] %> - <%= item[:orga_scope_name] %></p>
        </div>
        <div class="col-4">
          <!-- Question number -->
          <p><%= item[:question] %></p>
        </div>
        <div class="col-2">
          <!-- Question emission factor name and value -->
          <p><%= item[:ademe_factor] %> <%= item[:ademe_factor_unit] %></p>
        </div>
        <div class="col-2">
          <!-- Answer value -->
          <p><%= item[:answer] %> <%= item[:answer_unit] %> </p>
        </div>
        <div class="col-2">
          <!-- Output (emission factur x answer value) -->
          <p><%= item[:emission_answer_calculation].truncate %>kgCO2e</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!--
----------------------------------------------------------
SIMPLE BAR CHART
 ----------------------------------------------------------
-->

<!-- <div class="container">
  <p>Test 1</p>
  <div>
    <%= content_tag 'canvas', '', id: 'myChart', width: '1000', height: '600',
        data: {titles: @labels,
              values: @emissions_bar_chart} %>
  </div>
</div>
 -->


<div class="container">
  <h5>Ajout de tab avec les resultats </h5>
  <p>Tab par type d'orga</p>
  <p>avec les infos de chaque module : question & réponse</p>
</div>



<!-- Message si tous les reports sont envoyés -->

<% if @counter_reports_to_send == 0 %>
  <div class="container">
    <p>All your data requests have been sent</p>
  </div>
<% else %>

  <!-- Table title -->
  <div class="container mt-4">
    <h4>Pending data requests</h4>
  </div>


  <!-- Header tableau "pending data request"-->
  <div class="container mt-3 mb-2">
    <div class="row">
      <div class="col-2">
        <div class="tab-header">
          <h3 class="text-center">Organization</h3>
        </div>
      </div>
      <div class="col-2">
        <div class="tab-header">
          <h3 class="text-center">Emission module</h3>
        </div>
      </div>
      <div class="col-5">
        <div class="tab-header">
          <h3 class="text-center">Contributors</h3>
        </div>
      </div>
      <div class="col-3">
        <div class="tab-header">
          <h3 class="text-center">Status</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Affichage d'un tableau avec tous les modules x orga x email -->
  <div class="container">
    <div class="row">
      <% @report.report_scopes.each do |report_scope|  %>
        <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
          <% if report_scope_orga.status == "To send" %>
            <div class="col-2 flex-cell cell-white-background">
              <p class="text-center"><%= report_scope_orga.orga.name %></p>
            </div>
            <div class="col-2 flex-cell cell-white-background">
              <p class="text-center"><%= report_scope.emission_module.name %></p>
            </div>
            <div class="col-5 flex-cell cell-white-background">
            <ul class="m-0 p-0">
            <% report_scope_orga.report_scope_orga_users.each do |report_scope_orga_user| %>
              <p><%= report_scope_orga_user.user.email  %></p>
            <% end %>
            </ul>
            </div>
            <div class="col-3 flex-cell">
                <p>
                  <%= link_to "#{report_scope_orga.status}",
                        report_scope_orga_send_report_path(report_scope_orga),
                        class:"btn btn-success" %>
                </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


<!-- Ajout d'un bouton "send all" -->
<div class="container">

  <div class="row">
    <div class="col-9"></div>
    <div class="flex-cell col-3">
      <button type="button" class="btn btn-success btn-lg">Send all</button>
  </div>
</div>

<% end %>

<!-- Title -->

<div class="container">
  <div class="mt-4 mb-2">
    <h4>Your progress</h4>
  </div>
</div>

<!-- KPI progress -->
<div class="container">

  <div class="wrapper">
    <div class="flex-cell lightblue-bg">
      <div>
        <p>To send </p>
      </div>
      <div class="bg-white p-1 rounded">
        <p><%= @status_to_send %> / <%= @status_total %></p>
      </div>
    </div>
    <div class="flex-cell lightblue-bg">
      <div>
        <p>Sent, not <br>yet started</p>
      </div>
      <div class="bg-white p-1 rounded">
      <p><%= @status_sent %> / <%= @status_total %></p>
      </div>
    </div>
    <div class="flex-cell lightblue-bg">
      <div>
        <p>On-going</p>
      </div>
      <div class="bg-white p-1 rounded">
        <p><%= @status_ongoing %> / <%= @status_total %></p>
      </div>
    </div>
    <div class="flex-cell lightblue-bg">
      <div>
        <p>Pending <br> validation</p>
      </div>
      <div class="bg-white p-1 rounded">
        <p><%= @status_pending_validation %> / <%= @status_total %></p>
      </div>
    </div>
    <div class="flex-cell lightblue-bg">
      <div>
        <p>Done!</p>
      </div>
      <div class="bg-white p-1 rounded">
        <p><%= @status_done %> / <%= @status_total %></p>
      </div>
    </div>
  </div>
</div>

<!-- Structure tableau -->
<div class="container mt-3 mb-2">
  <div class="row">
    <div class="col-2">
      <div class="tab-header">
        <h3 class="text-center">Organization</h3>
      </div>
    </div>
    <div class="col-2">
      <div class="tab-header">
        <h3 class="text-center">Emission module</h3>
      </div>
    </div>
    <div class="col-4">
      <div class="tab-header">
        <h3 class="text-center">Contributors</h3>
      </div>
    </div>
    <div class="col-2">
      <div class="tab-header">
        <h3 class="text-center">Status</h3>
      </div>
    </div>
    <div class="col-2">
      <div class="tab-header">
        <h3 class="text-center">Team discussion</h3>
      </div>
    </div>
  </div>
</div>

<!-- Contenu tableau -->

<div class="container">
  <div class="row">
    <% @report.report_scopes.each do |report_scope|  %>
      <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
        <div class="col-2 flex-cell cell-white-background">
          <p class="text-center small-text"><%= report_scope_orga.orga.name %></p>
        </div>
        <div class="col-2 flex-cell cell-white-background">
          <p class="text-center small-text"><%= report_scope.emission_module.name %></p>
        </div>
        <div class="col-4 flex-cell cell-white-background">
          <ul class="m-0 p-0">
            <% report_scope_orga.report_scope_orga_users.each do |report_scope_orga_user| %>
              <p class="text-left small-text"><%= report_scope_orga_user.user.email  %></p>
            <% end %>
          </ul>
        </div>
        <div class="col-2 flex-cell">
            <p class="text-center small-text"><%= report_scope_orga.status %></p>
        </div>
        <div class="col-2 flex-cell">
          <p class="text-center"><i class="far fa-envelope"></i></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
