<!-- Titre report -->
<div class="container pt-3 mb-3">
  <h3>Your report: <%= @report.name %></h3>
</div>


<!-- NAV TABS -->
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="progress-tab" data-toggle="tab" href="#progress" role="tab" aria-controls="progress" aria-selected="true"><i class="fas fa-sort-amount-up"></i> Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="reported-emissions-tab" data-toggle="tab" href="#reported-emissions" role="tab" aria-controls="reported-emissions" aria-selected="false">☁︎  Reported emissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="detailed-data-tab" data-toggle="tab" href="#detailed-data" role="tab" aria-controls="detailed-data" aria-selected="false"><i class="fas fa-database"></i> Detailed data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="dashboard-settings-tab" data-toggle="tab" href="#dashboard-settings" role="tab" aria-controls="dashboard-settings" aria-selected="false">⚙︎ Settings</a>
    </li>
  </ul>
</div>

<div class="list-modules-container">
  <div class="tab-content" id="myTabContent">
    <!--
    ----------------------------------------------------------
    PROGRESS
     ----------------------------------------------------------
    -->
    <div class="tab-pane fade show active" id="progress" role="tabpanel" aria-labelledby="progress-tab">
      <div class="container">
        <!-- Headers -->
        <div class="row mt-3">
          <div class="col-3 pr-0 mr-0">
            <div class="tab-headerV2 radius-right">
              <h3 class="text-center">☁︎   EMISSIONS </h3>
            </div>
          </div>
          <div class="col-3 pl-0 pr-0 mr-0">
            <div class="tab-headerV2 radius-right">
              <h3 class="text-center"><i class="fas fa-sitemap"></i> ORGANIZATION</h3>
            </div>
          </div>
          <div class="col-3 pl-0 pr-0 mr-0">
            <div class="tab-headerV2 radius-right justify-content-center">
              <h3 class="text-center"><i class="fas fa-user-plus"></i> TEAM</h3>
            </div>
          </div>
          <div class="col-3 pl-0 mr-0">
            <div class="tab-headerV2 radius-right justify-content-center">
              <h3 class="text-center"> STATUS</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="container">
        <% @report.report_scopes.each do |report_scope| %>
          <% report_scope.report_scope_orgas.each do |report_scope_orga| %>
          <div class="bg-white rounded shadow">
            <div class="row border-bottom">
              <!-- Emissions  -->
              <div class="col-3 pl-4 flex-cell cell-justify-left">
                <% if report_scope.emission_module.photo.attached?  %>
                  <p  class="">
                    <%= cl_image_tag report_scope.emission_module.photo.key, :crop=>"fill", class:"avatar", style:"width:20; height:20"%>
                    <%= report_scope.emission_module.name %>
                  </p>
                <% else %>
                  <p  class="">
                    <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar", style:"width:20px; height:20px"%>
                    <%= report_scope.emission_module.name %>
                  </p>
                <% end %>
              </div>

              <!-- Orga -->
              <div class="col-3 flex-cell cell-justify-left">
                  <% if report_scope_orga.orga.photo.attached?  %>
                    <p  class="text-left">
                      <%= cl_image_tag report_scope_orga.orga.photo.key, :crop=>"fill", class:"avatar", style:"width:40px; height:40px"%>
                      <%= report_scope_orga.orga.name %>
                    </p>
                  <% else %>
                    <p  class="text-left">
                      <%= image_tag "https://cdn2.iconfinder.com/data/icons/vape-1/48/a-18-512.png", class:"avatar", style:"width:40px; height:40px"%>
                      <%= report_scope_orga.orga.name %>
                    </p>
                <% end %>
              </div>

              <!-- Team -->
              <div class="col-3 flex-cell">
                <% report_scope_orga.report_scope_orga_users.each do |report_scope_orga_user| %>
                  <% if report_scope_orga_user.user.photo.attached? %>
                    <%= cl_image_tag report_scope_orga_user.user.photo.key, :crop=>"fill", class:"avatar", style:"width:40px; height:40px"%>
                  <% else %>
                    <%= image_tag "http://www.tafecafe.com/wp-content/uploads/2015/09/default_avatar.png", class:"avatar ml-3", style:"width:40px; height:40px"%>
                  <% end %>
                <% end %>
                <!-- Add button -->
                <a class="fas fa-plus-circle fa-2x align-bottom m-2 text-success"></a>
              </div>
              <!-- Status -->
              <div class="col-3 flex-cell">
                <% if report_scope_orga.status == "Invited" %>
                  <div class="status-align-center">
                    <div class="status-center">
                      <p class="report_status status-invited"><%= report_scope_orga.status %></p>
                    </div>
                  </div>
                <% elsif report_scope_orga.status == "On-going"%>
                  <div class="status-center">
                    <p class="report_status status-ongoing"><%= report_scope_orga.status %></p>
                  </div>
                <% elsif report_scope_orga.status == "Pending validation" %>
                  <div class="status-center">
                    <p class="report_status status-pending-validation"><%= report_scope_orga.status %></p>
                  </div>
                <% elsif report_scope_orga.status == "Done" %>
                  <div class="status-center">
                    <p class="report_status status_done"><%= report_scope_orga.status %></p>
                  </div>
                <% else %>
                  <div class="status-center">
                    <p class="report_status status_na"><%= report_scope_orga.status %></p>
                  </div>
               <% end %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!--
    ----------------------------------------------------------
    BAR CHART
     ----------------------------------------------------------
    -->

    <div class="tab-pane fade show" id="reported-emissions" role="tabpanel" aria-labelledby="reported-emissions-tab">
      <div class="container barchart-card mt-3">
        <div class="bg-white rounded shadow">
          <div class="pt-3 pl-3 mb-2">
            <p class="text-left m-0"><em>Greenhouse gases: CO2, CH4, NH2</em></p>
            <p class="text-left m-0"><em>Unit: kgCO2 equivalent</em></p>
          </div>
          <div style="text-align:center">
            <div class="d-flex pl-3 pb-5 pb-5">
              <%= content_tag :div, '',
                              id: 'bar_chart_data',
                              data: {emissions: @y_axis_organizations,
                                    # orga: @label_orga,
                                    ylabel: @label_orga} %>
              <%= content_tag 'canvas', '',
                              id: 'mybarChart',
                              width: '900', height: '400',
                              data: {titles: @x_axis_modules} %>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!--
    ----------------------------------------------------------
    DETAILED DATA
     ----------------------------------------------------------
    -->

    <!-- Dropdown select -->
    <div class="tab-pane fade show" id="detailed-data" role="tabpanel" aria-labelledby="detailed-data-tab" data-query="<%= @selected_orga %>">
      <div class="container">
        <div class="row">
          <div class="col-0 flex-cell cell-justify-left">
          </div>
          <div class="col-12 flex-cell cell-justify-left">
            <%= form_tag report_path(@report), method: :get do %>
              <%= select_tag :query, options_for_select(@report_scope_orgas_array.collect{ |u| [u[:orga], u[:id]] }) %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

        <!-- Div pour les détails des informations -->
        <div class="">

          <!-- Team avatars -->
          <% if @selected_orga.nil? == false %>
            <div class="d-flex">
              <div class="mr-3">
                <div class="tab-headerV2 radius-right">
                  <p class="mb-1 text-center">TEAM</p>
                </div>
                <div class="bg-white rounded shadow details-box-dashboard">
                  <% @selected_orga.report_scope_orga_users.each do |report_scope_orga_user| %>
                    <% if report_scope_orga_user.user.photo.attached? %>
                      <%= cl_image_tag report_scope_orga_user.user.photo.key, :crop=>"fill", class:"avatar", style:"width:40px; height:40px"%>
                    <% else %>
                      <%= image_tag "http://www.tafecafe.com/wp-content/uploads/2015/09/default_avatar.png", class:"avatar ml-3", style:"width:40px; height:40px"%>
                    <% end %>
                  <% end %>
                  <a class="fas fa-plus-circle fa-2x align-bottom m-2 text-success"></a>
                </div>
              </div>

              <!-- Status -->
              <div class="mr-3">
                <div class="tab-headerV2 radius-right">
                  <p class="mb-1">STATUS</p>
                </div>
                <div class="bg-white rounded shadow details-box-dashboard pr-4 pl-4 pt-2">
                <% if @selected_orga.status == "Invited" %>
                  <div class="status-align-center">
                    <p class="report_status status-invited"><%= @selected_orga.status %></p>
                  </div>
                <% elsif @selected_orga.status == "On-going"%>
                  <div class="status-align-center">
                    <p class="report_status status-ongoing"><%= @selected_orga.status %></p>
                  </div>
                <% elsif @selected_orga.status == "Pending validation" %>
                  <div class="status-align-center">
                    <p class="report_status status-pending-validation"><%= @selected_orga.status %></p>
                  </div>
                <% elsif @selected_orga.status == "Done" %>
                  <div class="status-align-center">
                    <p class="report_status status_done"><%= @selected_orga.status %></p>
                  </div>
                <% else %>
                  <div class="status-align-center">
                    <p class="report_status status_na"><%= @selected_orga.status %></p>
                  </div>
                <% end %>
                </div>
              </div>

              <!-- Social icons -->
              <div>
                <div class="tab-headerV2 radius-right">
                  <p class="mb-1 pr-3">DISCUSS WITH TEAM</p>
                </div>
                <div class="bg-white rounded shadow details-box-dashboard pt-3">
                  <p><i class="far fa-envelope fa-2x"></i> <i class="far fa-comment-dots fa-2x"></i> <i class="fab fa-skype fa-2x"></i></p>
                </div>
              </div>
            </div>
          <% else %>
          <% end %>
        </div>


        <!-- Filtered able -->
        <% if @selected_orga.nil? == true %>
        <% else %>
        <div class="container">

          <!-- Table headers -->
          <div class="row mt-3">
            <div class="col-2 pl-0 pr-0 mr-0">
              <div class="tab-headerV2 radius-right pt-3 height-header-filtered-table">
                <p class="text-center">DATA REQUESTED</p>
              </div>
            </div>
            <div class="col-2 pl-0 pr-0 mr-0">
              <div class="tab-headerV2 radius-right pt-3 height-header-filtered-table">
                <p class="text-center">CONSUMPTION</p>
              </div>
            </div>
            <div class="col-2 pl-0 pr-0 mr-0">
              <div class="tab-headerV2 radius-right pt-3 height-header-filtered-table">
                <p class="text-center">EMISSIONS COEFFICIENT</p>
              </div>
            </div>
            <div class="col-2 pl-0 pr-0 mr-0">
              <div class="tab-headerV2 radius-right pt-3 height-header-filtered-table">
                <p class="text-center"> TOTAL EMISSIONS</p>
              </div>
            </div>
            <div class="col-2 pl-0 pr-0 mr-0">
              <div class="tab-headerV2 radius-right pt-3 height-header-filtered-table">
                <p class="text-center">COMMENTS</p>
              </div>
            </div>
            <div class="col-2 pl-0 pr-0 mr-0">
              <div class="tab-headerV2 radius-right pt-3 height-header-filtered-table">
                <p class="text-center">ATTACHMENTS</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white rounded shadow">
          <div class="row pl-3 pr-3 border-bottom">
            <!-- Content with loop -->
            <% @output_array.each do |item| %>
              <% if  (@selected_orga.orga.name == item[:orga_scope_name]) && (@selected_module.emission_module.name == item[:emission_module_name])%>
                <!-- Question -->
                <div class="col-2">
                  <p class="small-text-dashboard text-left"><%= item[:question] %></p>
                </div>
                <!-- Team input -->
                <div class="col-2">
                  <p class="small-text-dashboard"><%= item[:answer].truncate(0)%> <%= item[:answer_unit] %></p>
                </div>
                <!-- Emissions factor -->
                <div class="col-2">
                  <p class="small-text-dashboard"><%= item[:ademe_factor].truncate(2)%> <%= item[:ademe_factor_unit] %></p>
                </div>
                <!-- Emissions calculated -->
                <div class="col-2">
                  <p class="small-text-dashboard"><%= item[:emission_answer_calculation].truncate(0)%> kgCO2e</p>
                </div>
                <!-- Comments -->
                <div class="col-2">
                  <!-- TO DO - boucle if sur comment avec "n.a." -->
                  <p class="small-text-dashboard"><em>N.a.</em></p>
                </div>
                <!-- Attachment -->
                <div class="col-2">
                  <!-- TO DO - boucle if avec ".n.A" -->
                  <p class="small-text-dashboard"><i class="far fa-file-pdf"> <i class="far fa-file-excel"></i></i></p>
                </div>
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- SETTINGS -->
    <div class="tab-pane fade show" id="dashboard-settings" role="tabpanel" aria-labelledby="dashboard-settings-tab">
      <div class="container mt-3 transparent-button">
        <%= link_to "Delete report",
            report_path(@report),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>
      </div>
     </div>

  <!-- End tabs -->
  </div>
</div>
