
<div class="container mt-2">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active">☁︎  Emissions</a>
    <div class="arrow-right-selected"></div>
    <a class="nav-item nav-link"><i class="fas fa-sitemap"></i> Organization</a>
    <div class="arrow-right-not-selected"></div>
    <a class="nav-item nav-link"><i class="fas fa-user-plus"></i> Team</a>
    <div class="arrow-right-not-selected"></div>
  </nav>
</div>

<div class="container">

  <div class="form-modules">
    <div class="form-modules-intro">
      <h4 class="">Please select your emission modules</h4>
      <h6 class="">Project: <%= @report.name %> - <%= @report.year %> </h6>
    </div>
    <div class="form-modules-content">
      <div class="form-list-modules">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="scope1-tab" data-toggle="tab" href="#scope1" role="tab" aria-controls="scope1" aria-selected="true">Direct emissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="scope2-tab" data-toggle="tab" href="#scope2" role="tab" aria-controls="scope2" aria-selected="false">Indirect emissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="scope3-tab" data-toggle="tab" href="#scope3" role="tab" aria-controls="scope3" aria-selected="false">Induced emissions</a>
          </li>
        </ul>
        <div class="list-modules-container">
          <div class="tab-content" id="myTabContent">
            <!--Scope 1 -->
            <div class="tab-pane fade show active" id="scope1" role="tabpanel" aria-labelledby="scope1-tab">
              <div class="flash-modules">
                <% @module_scopes.where(scope: 1).each do |module_scope1| %>
                  <% if ReportScope.new(emission_module_id: module_scope1.id, report_id: params[:report_id]).valid? %>
                    <%= render "report-scope-create", module_scope: module_scope1, report: @report, report_scope: @report_scope%>
                  <% else %>
                     <%= render "report-scope-destroy", module_scope: module_scope1 %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <!--Scope 2 -->
            <div class="tab-pane fade show" id="scope2" role="tabpanel" aria-labelledby="scope2-tab">
              <div class="flash-modules">
                <% @module_scopes.where(scope: 2).each do |module_scope2| %>
                  <% if ReportScope.new(emission_module_id: module_scope2.id, report_id: params[:report_id]).valid? %>
                    <%= render "report-scope-create", module_scope: module_scope2, report: @report, report_scope: @report_scope %>
                  <% else %>
                   <%= render "report-scope-destroy", module_scope: module_scope2 %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <!--Scope 3 -->
            <div class="tab-pane fade show" id="scope3" role="tabpanel" aria-labelledby="scope3-tab">
              <div class="flash-modules">
                <% @module_scopes.where(scope: 3).each do |module_scope3| %>
                  <% if ReportScope.new(emission_module_id: module_scope3.id, report_id: params[:report_id]).valid? %>
                    <%= render "report-scope-create", module_scope: module_scope3, report: @report, report_scope: @report_scope %>
                  <% else %>
                    <%= render "report-scope-destroy", module_scope: module_scope3 %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="selected-modules-container">
        <h5 class="text-center title-module-selection">Your selected modules</h5>
        <%= render "report-scope-add-to-cart" %>
        <%= link_to "Next", new_report_report_scope_orga_path(@report), class:"btn btn-primary btn-next" %>
      </div>
    </div>
  </div>
</div>


<!-- Modal affichage des informations détaillées par module  -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= @module_scopes.last.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= @module_scopes.last.general_description %></p>
        <h5>Emission factor</h5>
        <p> <%= @module_scopes.last.emission_factor_description %></p>
        <h5>Questions</h5>
          <ul>
            <% @module_scopes.last.questions.each do |question| %>
              <p><%= question.content %></p>
            <% end %>
          </ul>
          <% if @module_scopes.last.questions.count == 0 %>
            <p>There are no questions to display yet</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
