<!DOCTYPE html>
<html>
  <head>
    <title>KarbonChain | Accélerez votre transition bas-carbone</title>
    <%= favicon_link_tag 'logo-round.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>
    <%= render 'shared/project-create-1' if @project_create_1_nav %>
    <%= render 'shared/project-create-2' if @project_create_2_nav %>
    <%= render 'shared/project-create-3' if @project_create_3_nav %>


    <div class="content-wrapper">
       <%= yield %>
    </div>



    <%= render 'shared/footer' %>
  </body>
</html>
