<!DOCTYPE html>
<html>
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Tutorial : https://evrim.io/adding-google-analytics-to-a-rails-5-turbolinks-5-app/ -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165936086-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165936086-1');
    </script>
    <!-- End Google Analytics -->

    <!-- "canonical" URL for SEO -->
    <link rel=“canonical” href="http://www.karbonchain.com/"/>

    <!-- Tag pour Google Search Engine -->
    <meta name="google-site-verification" content="b-RIWX-x2NzqmVll-nm-iedoDweVG5LUrqe7LbLu7pw" />

    <title>KarbonChain | Accélerez votre transition bas-carbone</title>
    <%= favicon_link_tag 'logo-round.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name=”description” content=”Simplifiez et automatisez votre bilan carbone. Accélérez votre transition bas-carbone.”>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>
    <%= render 'shared/project-create-1' if @project_create_1_nav %>
    <%= render 'shared/project-create-2' if @project_create_2_nav %>
    <%= render 'shared/project-create-3' if @project_create_3_nav %>


    <div class="content-wrapper">
       <%= yield %>
    </div>



    <%= render 'shared/footer' %>
  </body>
</html>
